@mixin transition($transition...) { -moz-transition: $transition; -o-transition: $transition; -webkit-transition: $transition; transition: $transition;}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") { -webkit-box-shadow:$top $left $blur $color #{$inset}; -moz-box-shadow:$top $left $blur $color #{$inset}; box-shadow:$top $left $blur $color #{$inset};}
@mixin verticalAlign(){ position: absolute; top: 50%;  left: 50%; transform: translate(-50%, -50%);}
@mixin clearfix(){&:before,&:after{content: "";display: table;}&:after {clear: both;}}
@mixin truncateText{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

// ============================================================================================================
// Mixin and General Animations

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(fadeIn) {
	0% { transform:translateY(50%); opacity: .5; }
	100% { transform:translateY(0); opacity: 1; }
}

/*@include keyframes(anim_rotation) {
	0% { transform: rotate(0deg)}
	50% { transform: rotate(5deg)}
	100% { transform: rotate(0deg)}
}*/
//@include animation('anim_rotation 4s 3');

.showUp > div {
	@include animation('fadeIn 1s ease');
}




// ============================================================================================================
// General Variables
// Header and Footer Dimensions
$header_height: 80px;
$header_height_sticky: 60px;

$footer_height: 108px;
//$footer_height_max: 460px;


// Colors
$color_w: #FFF;
$color_bl: #21282f;
$color_lightgrey:#7b7c7e;
$color_lightergrey: #dfdfdf;
//$color_br: ;
$color_gold: rgba(190,151,95,0.80);
$color_solidGold: #be9857;
//B39155

$bg_img: "../sysimages/bg.png";


// Loading page
#main, #footer{
	@include transition(all .1s linear);
}


// Typography
@font-face {
    font-family: 'intro';
    src: url('../fonts/intro-webfont.woff2') format('woff2'),
         url('../fonts/intro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweatherbold';
    src: url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
	src: url('../fonts/helvetic-webfont.eot');
    src: url('../fonts/helvetic-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/helvetic-webfont.woff') format('woff'),
		 url('../fonts/helvetic-webfont.ttf') format('truetype'),
		 url('../fonts/helvetic-webfont.svg#atroxnormal') format('svg');
    font-weight: normal;
    font-style: normal;     
}

@font-face {
    font-family: 'helveticabold';
	src: url('../fonts/helveticabold-webfont.eot');
    src: url('../fonts/helveticabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticabold-webfont.woff') format('woff'),
		 url('../fonts/helveticabold-webfont.ttf') format('truetype'),
		 url('../fonts/helveticabold-webfont.svg#atroxnormal') format('svg');
    font-weight: bold;
    font-style: normal;     
}


$font_size1: 24px;
$font_size2: 16px;


h1, .h1{
	font-family: 'intro';
	font-size: $font_size1;
	color: $color_bl;
}


h2, .h2{
	font-family: 'merriweather';
	font-size: $font_size1;
	line-height: 120%;
	color: $color_bl;
}

h3, .h3 {
	font-family: 'helveticabold', Arial, Helvetica, sans-serif;
	font-size: $font_size2;
	font-weight: normal;
	line-height: 120%;
	color: $color_bl;
}

p{
	font-family: 'merriweather'; 
	font-weight: normal;
	font-size: 16px;
	line-height: 21px;
	color: $color_lightgrey;
}


a{
	font-family: 'helvetica', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: $color_solidGold;
	text-decoration: none;
	@include transition(all .3s ease);
	
	&:hover {
		color: $color_bl;
	}
}

.title{
	padding: 70px 0 50px;
	
	h1{
		position: relative;
		text-align: center;
	
		&::before{
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 27px;
			height: 5px;
			content: '';
			background: url(../sysimages/triangles_title.svg) no-repeat; 
		}
	}
	
	&.leftTitle{
		padding: 70px 0 20px;
		
		h1 {
			text-align: left;
			&::before{
				left: 0;
				transform: none;
			}
		}
	}
}

.subtitle{
	padding: 25px 0;
	
	h3{
		position: relative;
		display: inline-block;
		font-family: 'intro';
		font-weight: normal;
	
		&::before{
			position: absolute;
			top: -20px;
			left: 0;
			width: 27px;
			height: 5px;
			content: '';
			background: url(../sysimages/triangles_title.svg) no-repeat; 
		}
	}
}


// =================================================================================== //
// Accordion

.accordionMenu{
	margin: 0;
	
	> li{
		list-style: none;
		display: block;
		
		> a {
			border-bottom: 1px solid rgba($color: $color_lightgrey, $alpha: .3);
			width: 100%;
			display: block;
			padding: 10px 0;
			
			.accordionHeader{
				@extend h3;
				font-family: 'intro';
				font-weight: normal;
				display: inline-block; 
				width: 70%;
				color: $color_bl;
				
				&:hover{
					color: $color_gold;
				}
			}
			.signal{
				font-family: 'merriweather';
				font-size: 12px;
				line-height: 21px;
				color: $color_lightgrey;
				float: right;
				padding-right: 40px;
				position: relative;
				
				&::after{
					background: url('../sysimages/button/openAccordion.svg') no-repeat center center;
					display: block; 
					width: 20px;
					height: 20px;
					top: 0; right: 0;
					content:'';
					display: block;
					position: absolute;
				}
			}
			
			&.hover .accordionHeader{color: $color_gold;}
			
		}
		
		&.active{
			.accordionHeader,.signal{color: $color_gold;}
			
			.signal::after {
				background: url('../sysimages/button/closeAccordion.svg') no-repeat center center;
			}
		}
		
		.accordionContent{
			margin: 20px -15px 20px 0;
			@include clearfix();
		
			> div{
				padding-left: 0;
			}
		}
	}
}


// =================================================================================== //
// Inputs / Textareas / Selects

.inputElement,
.inputSelect {
	margin-bottom:25px;
	position:relative;
	 
	/*&::before{
		position:absolute; 
		top:-10px; 
		left:-3px; 
		width:auto;
	}*/
	

}

input[type='text'],
input[type='number'],
input[type='email'],
textarea,
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border-radius: 0;
	border: 1px solid rgba($color_lightgrey, .3);
	background: $color_w;
	padding: 15px 10px;
	width: 100%;
	
	@extend p;
	@include transition(all .2s ease);
	
	&:hover,
	&:focus{
		border-color: $color_gold;
	}
}

input[type='checkbox'] {
	-webkit-appearance: none;
	display: inline-block;
	vertical-align: middle;
	z-index: 100;
	width: 40px;
	height: 20px;
	background: url(../sysimages/checkbox/unchecked.svg) no-repeat center center;
	@include transition( background .4s ease);
}


// =================================================================================== //
// Clickables / Buttons

%clickable {
	//display: table-cell;
	//vertical-align: middle;
	//padding: 0 7px;
	//margin: 0;
	font-family: 'intro';
	font-size: 12px;
	color: #FFF;
	border-radius: 0;
	border: 0;
	text-decoration: none;
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	
	&::before,
	&::after{
		position: absolute;
		display: block;
		height: 5px;
		width: 26px;
		content:'';
		background: url(../sysimages/triangles.svg) no-repeat;
		opacity: 0;
		@include transition(all .2s ease);
	}
	
	&::before{
		top:-5px;
		left: calc(50% - 12px);
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	}
	
	&::after{
		bottom:-5px;
		left: calc(50% - 12px);
	}
	
	&:hover{
		background: #BE975F;
		color: #FFF;
		
		&::before,
		&::after{
			opacity: 1;
		}
	}
}

.buttonIc{
	position: relative;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	display: inline-block;
	height: 37px;
    width: 34px;
	overflow: hidden;
	background-size: contain!important;
	padding: 4px 10px 3px 40px;
	@include transition( width .4s ease .2s);
	
	span{ 
		font-family: 'intro';
		font-size: 12px;
		color: #FFF;
		text-decoration: none;
		color: $color_w;
		white-space: nowrap; 
		opacity: 0;
		@include transition( all .4s ease);
	}
	
	&.buttonDownload{
		background: url(../sysimages/button/download@2x.png) no-repeat top left;
	}

	&.buttonShare{
		background: url(../sysimages/button/share@2x.png) no-repeat top left;
	}
	
	&.buttonPrint{
		background: url(../sysimages/button/print@2x.png) no-repeat top left;
	}
	
	&.buttonOpenNew{
		background: url(../sysimages/button/openNewWindow@2x.png) no-repeat top left;
	}
	
	&.buttonFav{
		background: url(../sysimages/button/fav@2x.png) no-repeat top left;
	}
	

	&:hover{
		background-color: $color_bl;
		width: auto;
		
		span{
			width: 100%;
			opacity: 1;
		}
	}
}

.buttonPrev{
	height: 37px;
    width: 34px;
	background: url(../sysimages/button/previous@2x.png) no-repeat top left;
}
.buttonNext{
	height: 37px;
    width: 34px;
	background: red url(../sysimages/button/next@2x.png) no-repeat top left;
}

.buttonClose,
.fancybox-close{
	height: 37px;
    width: 34px;
	position: fixed;
	top: 20px;
	right: 20px;
	background-size: cover!important; 
	background: url(../sysimages/button/close@2x.png) no-repeat top left;
}

.fancybox-skin{
	-webkit-box-shadow: none; 
    -moz-box-shadow: none;
    box-shadow: none;
	-webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; 
	padding: 0!important;
}

/*Buttons*/
.button,
button,
input[type='submit'],
.fc-state-default{
	@extend %clickable;
	
	border: none;
	border-radius: 0;
	background: $color_gold;
	padding: 20px 25px;
	font-size: 14px;
	
	&::before,
	&::after{
		opacity: 1;
	}
	
	&:hover{
		background: $color_w;
		color: $color_gold;
	}
}


/* GRID STATIC */
.container {
  width: 100%;
  max-width: 1350px;
}

/* GRID RESPONSIVE */
/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/




// Global Container
.globalContainer{
	background: url($bg_img) repeat left top;
}


// ===================================================================================================================
// Header

@import '_header.scss';


// ===================================================================================================================
// Footer

@import '_footer.scss';


// ===================================================================================================================
// Full Banner

@import '_fullBanner.scss';





.popup{
	max-width: 760px;
}

// ===================================================================================================================
// Highlights
#highlightSection,
#ecosystemSection{
	padding-bottom: 50px;
	position: relative;
    z-index: 9;
	overflow: hidden;
	@include clearfix();
	
	&::before {
        background: url(../sysimages/animate/banner_graf3.svg) no-repeat center center;
        //background-size: 60%;
        content:'';
        display: block;
		position: absolute;
		top: -40%;
		right: 20%;
        z-index: 2;
        width: 170px;
        height: 170px;
		opacity: .3;
        @include animation('anim_opacity 7s 3');
    }
}


// ===================================================================================================================
// Lists
.listContainer{
	
	.listElement{
		position: relative;
		width: 100%;
		display: block;
		margin-bottom: 15px; 
		@include clearfix();
		
		.Bitmap{
			opacity: 0;
			@include transition( all .4s ease );
		}
		
		.myShape,
		#elementIcon,
		#path-3 {
			fill: $color_w;
			stroke: $color_lightergrey;
			@include transition( fill .7s ease );
		}
		
		
		
		.elementTitle{
			position: absolute;
			top: 6px;
			left: 6px;
			right: 0;
			height: 40px;
			width: 40px;
			background-size: 100% 100%;
			@include transition( all .4s ease);
		}
		
		.elementContent{
			position: absolute;
			height: 320px;
			width: 100%;
			top: 0;
			left:0;
			@include transition( all .4s ease );
			
			img{
				position: absolute;
				z-index: 0;
				top: 0; left: 0;
			}
			.flag{
				position: absolute;
				top: 20px;
				right: 20px;
				z-index: 2;
				font-family: 'helveticabold';
				font-size: 11px;
				color: #FFF;
				padding: 2px 22px 4px;
				text-transform: capitalize;
			}
			.text{
				position: absolute;
				z-index: 1;
				top: 0; left: 0;
				color: inherit;
				text-decoration: none;
				padding: 40% 20px 20px;
				display: block;
				opacity: 1;
				@include transition( color .2s ease );
				
				p{ 
					margin-top: 25px;
					//height: 100%;
					display: -webkit-box;
  					-webkit-line-clamp: 3;
  					-webkit-box-orient: vertical; 
					  overflow: hidden;
				}
			}
		}
		
		.downloadPDF{
			position: absolute;
			bottom: 4px;
			left: 0; right: 0;
			//left: 1px;
			//right: 1px;
			z-index: 2;
			text-decoration: none;
			padding: 3px 20px;
			height: 0;
			
			&::before {
				display: block;
				position: absolute;
				top: 9px;
    			left: -20px;
				opacity: 0;
				content: '';
				background: url(../sysimages/button/bg_pdf.png) no-repeat left center;
				width: 300px; height: 20px;
				@include transition( all .2s ease .3s);
			}
			
			
			
			span{
				font-family: 'helveticabold';
				text-transform: uppercase;
				float: right;
				font-size: 12px;
				line-height: 21px;
				padding: 6px 0;
				color: rgba($color: $color_w, $alpha: .8);
				display: none;
			}
		}
		
		&:hover {
			.myShape {
				fill: none;
			}
			.Bitmap{
				opacity: 1;
			}
		
			.elementContent {	
				background-position: 0!important;
			
				.text *{
					color: $color_w!important;
				}
			}
			
			.downloadPDF{
				height: 40px;
				
				&::before{
					left: 25px;
					opacity: 1;
				}
				span{ display: block; }
			}
		}
	}
}


@media screen and (max-width: 767px){
	.listContainer .listElement .elementContent .text{
		padding: 40% 37px 20px!important;
		
		h3{ font-size: 24px;}
	}
}



// CATEGORIES
// Colors
$c_trends:#991720;
$c_institutes:#2db677;
$c_consultancies:#515354;
$c_organizations:#b1b2b3;
$c_courses:#0064a6;
$c_news:#f7931e;
$c_scholarships:#ed1c24;
$c_conferences:#be9857;
$c_initiatives:#998675;
$c_tools:#29abe2;
$c_academia:#935491;
$c_briefs:#8cc63f;

.trends{
	// element in list
	.flag,
	.downloadPDF{ background: $c_trends;}
	
	.elementTitle{
		background-image: url(../sysimages/categories/trends@2x.png) ;
	}
	
	&:hover{
		//.elementTitle { background: $c_trends;}
		#elementIcon { fill: $c_trends;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/trends.svg);
		}
		label::before{
			background: $c_trends;
		}
	}				
}
.institutes{
	// element in list
	.flag,
	.downloadPDF{ background: $c_institutes;}
	
	.elementTitle{
		background: url(../sysimages/categories/institutes@2x.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background: $c_institutes;}
		#elementIcon { fill: $c_institutes;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/institutes.svg);
		}
		label::before{
			background: $c_institutes;
		}
	}	
}
.consultancies{
	.flag,
	.downloadPDF{ background: $c_consultancies;}
	
	.elementTitle{
		background: url(../sysimages/categories/consultancies@2x.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background: $c_consultancies;}
		#elementIcon { fill: $c_consultancies;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/consultancies.svg);
		}	
		label::before{
			background: $c_consultancies;
		}
	}	
}
.organizations{
	.flag,
	.downloadPDF{ background: $c_organizations;}
	
	.elementTitle{
		background: url(../sysimages/categories/organizations.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background: $c_organizations;}
		#elementIcon { fill: $c_organizations;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/consultancies.svg);
		}
		label::before{
			background: $c_organizations;
		}
	}		
}
.courses{
	.flag,
	.downloadPDF{ background: $c_courses;}
	
	.elementTitle{
		background: url(../sysimages/categories/courses.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_courses;}
		#elementIcon { fill: $c_courses;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/courses.svg);
		}
		label::before{
			background: $c_courses;
		}
	}		
}
.news{
	.flag,
	.downloadPDF{ background: $c_news;}
	
	.elementTitle{
		background: url(../sysimages/categories/news.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_news;}
		#elementIcon { fill: $c_news;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/news.svg);
		}
		label::before{
			background: $c_news;
		}
	}		
}
.scholarships{
	.flag,
	.downloadPDF{ background: $c_scholarships;}
	
	.elementTitle{
		background: url(../sysimages/categories/scholarships.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_scholarships;}
		#elementIcon { fill: $c_scholarships;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/scholarships.svg);
		}	
		label::before{
			background: $c_scholarships;
		}
	}	
}
.conferences{
	.flag,
	.downloadPDF{ background: $c_conferences;}
	
	.elementTitle{
		background: url(../sysimages/categories/conferences.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_conferences;}
		#elementIcon { fill: $c_conferences;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/conferences.svg);
		}
		label::before{
			background: $c_conferences;
		}
	}	
}
.initiatives{
	.flag,
	.downloadPDF{ background: $c_initiatives;}
	
	.elementTitle{
		background: url(../sysimages/categories/initiatives.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_initiatives;}
		#elementIcon { fill: $c_initiatives;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/initiatives.svg);
		}
		label::before{
			background: $c_initiatives;
		}
	}		
}
.tools{
	.flag,
	.downloadPDF{ background: $c_tools;}
	
	.elementTitle{
		background: url(../sysimages/categories/tools.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_tools;}
		#elementIcon { fill: $c_tools;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/tools.svg);
		}
		label::before{
			background: $c_tools;
		}
	}		
}
.academia{
	.flag,
	.downloadPDF{ background: $c_academia;}
	
	.elementTitle{
		background: url(../sysimages/categories/academia.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_academia;}
		#elementIcon { fill: $c_academia;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/academia.svg);
		}
		label::before{
			background: $c_academia;
		}
	}	
}
.briefs{
	.flag,
	.downloadPDF{ background: $c_briefs;}
	
	.elementTitle{
		background: url(../sysimages/categories/briefs.png) no-repeat center center;
	}
	
	&:hover{
		//.elementTitle{ background-color: $c_briefs;}
		#elementIcon { fill: $c_briefs;}
	}
	
	&.filter{
		input[type='checkbox']:checked {
			background-image: url(../sysimages/checkbox/briefs.svg);
		}	
		label::before{
			background: $c_briefs;
		}
	}	
}


// ===================================================================================================================
// Highlights
#weeklycalendarSection{
	background: url(../images/homepageCalendar.jpg) no-repeat center center;
	@include clearfix();
	padding: 30px 30px 100px;
	position: relative;
	overflow: hidden;
	
	.title h1 {
		color: $color_w;
	}
	
	.listContainerCalendar{
		@include clearfix();
		
		.element{
			width: 19%;
			margin: 0 .5% 10px;
			float: left;
			background: $color_gold;
			height: 250px;
			padding: 20px;
			position: relative;
			
			&:first-child{
				background: $color_w!important;
				
				.dateEvent{
					color: $color_bl;
				}
				.timeEvent{
					color: $color_gold;
				}
			}
			
			.day {
				font-family: 'helvetica'; 
				font-size: 14px;
				color: $color_w;
				position: absolute;
				top: -26px;
    			left: 20px;
			}
			
			.dateEvent{
				font-family: 'merriweatherbold';
				color: $color_w;
				font-size: 14px;
				margin-bottom: 10px;
			}
			.eventDescription{
				font-family: 'helveticabold'; 
				font-size: 16px;
				line-height: 21px;
				color: $color_bl;
			}
			.timeEvent{
				font-family: 'merriweather';
				font-size: 14px;
				line-height: 21px;
				color: rgba($color: $color_w, $alpha: .6);
			}
			
			
			&:hover{
				background: rgba($color: $color_w, $alpha: .9);
				
				.dateEvent{
					color: $color_bl;
				}
				.timeEvent{
					color: $color_gold;
				}
			}
		}
	}
}



@media (max-width: 1100px) {
  .listContainerCalendar .element{
	  width: 49%!important;
  }
}
@media (max-width: 900px) {
	
  .listContainerCalendar .element{
	  width: 99%!important;
  }
  
}



// ===================================================================================================================
// News Section
#newsSection{
	padding: 40px;
	//background: $color_w;
	
	
	.container{
		background: url(../sysimages/newsBg.png) no-repeat left top;
		background-size: 100% 100%;
		position: relative;
	}
	
	
	.element{
		padding: 60px 60px;
		
		a.link{ 
			display: inline-block; 
			margin-left: 20px;
			font-family: "helvetica";
			font-weight: normal;
			font-size: 14px;
		}
	}
	
}

/*@media (max-width: 1100px) {
  #newsSection .element{
	  padding: 0!important;
	  width: 99%!important;
  }
  #newsSection { background: $color_w; }
  #newsSection .container{ background: none; }
}*/

@media (max-width: 900px) {
	
   #newsSection .element{
	  padding: 0!important;
	  width: 99%!important;
	  margin-bottom: 40px;
  }
  #newsSection { background: $color_w; }
  #newsSection .container{ background: none; }
  
}


// ===================================================================================================================
// Filters 
#filterSection{
	margin-top: -12px;
	
	.filter{
		label{
			width: 100%;
			height: 25px;
			padding: 1px 0;
			display: block;
			position: relative;
			font-family: 'helveticabold';
			font-size: 12px;
			color: $color_lightgrey;
			margin-bottom: 3px;
			cursor: pointer;
			
			&::before{
				position: absolute;
				left: -21px;
				top: 7px;
				width: 8px;
				height: 8px;
				border-radius: 4px;
				content: '';
				display: block;
			}
			
			input[type='checkbox']{
				float: right;
			}
			
			&:hover{
				color: $color_bl;
			}
		}
	}
}


// ===================================================================================================================
// Filters 
#calendarSection{
	background: url($bg_img);
	padding-bottom: 40px;
	
	#calendar {
		max-width: 1100px;
		margin: 0 auto;
		
		.fc-head,
		.fc-head td,
		.fc-head th{
			border-color: transparent;
		}
		.fc-body{
			background: $color_w;
		}
	}
}


// ===================================================================================================================
// Contacts page
#contactsSection{
	background: url($bg_img);
	padding: 0 15px 50px;
	
	#contactForm{
		max-width: 900px;
		margin: 0 auto;
		@include clearfix();
	}
}


// ===================================================================================================================
// About page
#aboutSection{
	background: $color_w;
	
	.container{
		@include clearfix();	
	}
	
	p{
		padding: 15px 0 30px;
	}

	
	.imageContainer{
		border-bottom: 1px solid; 
		min-height: 130px;
		width: 100%;
		padding-bottom: 30px;
		margin-bottom: 40px;
	}

	blockquote{
		border: 1px solid $color_solidGold;
		padding: 60px;
		margin-left: 0;
		@extend p;
		color: $color_solidGold;
		font-size: 18px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 25px;
	}
}