@mixin transition($transition...) { -moz-transition: $transition; -o-transition: $transition; -webkit-transition: $transition; transition: $transition;}
@mixin box-shadow($top, $left, $blur, $color, $inset:"") { -webkit-box-shadow:$top $left $blur $color #{$inset}; -moz-box-shadow:$top $left $blur $color #{$inset}; box-shadow:$top $left $blur $color #{$inset};}
@mixin verticalAlign(){ position: absolute; top: 50%;  left: 50%; transform: translate(-50%, -50%);}
@mixin clearfix(){&:before,&:after{content: "";display: table;}&:after {clear: both;}}
@mixin truncateText{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}

// ============================================================================================================
// Mixin and General Animations

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@include keyframes(fadeIn) {
	0% { transform:translateY(50%); opacity: .5; }
	100% { transform:translateY(0); opacity: 1; }
}

/*@include keyframes(anim_rotation) {
	0% { transform: rotate(0deg)}
	50% { transform: rotate(5deg)}
	100% { transform: rotate(0deg)}
}*/
//@include animation('anim_rotation 4s 3');

.showUp > div {
	@include animation('fadeIn 1s ease');
}




// ============================================================================================================
// General Variables
// Header and Footer Dimensions
$header_height: 80px;
$header_height_sticky: 60px;

$footer_height: 108px;
//$footer_height_max: 460px;


// Colors
$color_w: #FFF;
$color_bl: #21282f;
$color_lightgrey:#7b7c7e;
//$color_grey: ;
//$color_br: ;
$color_gold: rgba(190,151,95,0.80);
$color_solidGold: #be9857;

$bg_img: "../sysimages/bg.png";


// Loading page
#main, #footer{
	@include transition(all .1s linear);
}


// Typography
@font-face {
    font-family: 'intro';
    src: url('../fonts/intro-webfont.woff2') format('woff2'),
         url('../fonts/intro-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'merriweather';
    src: url('../fonts/merriweather-regular-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'merriweatherbold';
    src: url('../fonts/merriweather-bold-webfont.woff2') format('woff2'),
         url('../fonts/merriweather-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helvetica';
	src: url('../fonts/helvetic-webfont.eot');
    src: url('../fonts/helvetic-webfont.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/helvetic-webfont.woff') format('woff'),
		 url('../fonts/helvetic-webfont.ttf') format('truetype'),
		 url('../fonts/helvetic-webfont.svg#atroxnormal') format('svg');
    font-weight: normal;
    font-style: normal;     
}

@font-face {
    font-family: 'helveticabold';
	src: url('../fonts/helveticabold-webfont.eot');
    src: url('../fonts/helveticabold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticabold-webfont.woff') format('woff'),
		 url('../fonts/helveticabold-webfont.ttf') format('truetype'),
		 url('../fonts/helveticabold-webfont.svg#atroxnormal') format('svg');
    font-weight: normal;
    font-style: normal;     
}


$font_size1: 24px;
$font_size2: 16px;


h1, .h1{
	font-family: 'intro';
	font-size: $font_size1;
	color: $color_bl;
}


h2, .h2{
	font-family: 'merriweather';
	font-size: $font_size1;
	line-height: 120%;
	color: $color_bl;
}

h3, .h3 {
	font-family: 'helvetica', Arial, Helvetica, sans-serif;
	font-size: $font_size2;
	font-weight: bold;
	line-height: 120%;
	color: $color_bl;
}

p{
	font-family: 'merriweather'; 
	font-weight: regular;
	font-size: 16px;
	line-height: 21px;
	color: $color_lightgrey;
	
	//@include responsive-font-size ($font_min_size_4, $font_size_4, 640px, 1200px, 0.1em);
}

.reduced{
	@extend p;
	//font-size: $font_size_6!important;
}


.title{
	padding: 70px 0 50px;
	
	h1{
		position: relative;
		text-align: center;
	
		&::before{
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translate(-50%, 0);
			width: 27px;
			height: 5px;
			content: '';
			background: url(../sysimages/triangles_title.svg) no-repeat; 
		}
	}
}

.subtitle{
	padding: 30px 0;
	
	h3{
		position: relative;
	
		&::before{
			position: absolute;
			top: -20px;
			left: 0;
			width: 27px;
			height: 5px;
			content: '';
			background: url(../sysimages/triangles_title.svg) no-repeat; 
		}
	}
}


a{
	font-family: 'helvetica', Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: $color_solidGold;
	text-decoration: none;
	@include transition(all .3s ease);
	
	&:hover {
		color: $color_bl;
	}
}


/*
h4, .h4 {
	font-family: $font_regular;
	font-size: $font_size_3;
	color: $color_grey;
	line-height: 150%;
}

%uppercase{
	font-size: 13px;
	font-family: $font_semibold;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}	
}*/


// =================================================================================== //
// Inputs / Textareas / Selects




// =================================================================================== //
// Clickables / Buttons

/* green background */
/*%clickable {
	@include transition(all .2s linear);
	
	-webkit-tap-highlight-color: $color_transparent;
	display: inline-block;
	
	@extend %uppercase;
	text-decoration: none;
	cursor: pointer;
	
	color: $color_white;
	border: 2px solid $color_green;
	background: $color_green;
	padding: 10px 25px;
	
	&:hover{
		background: $color_transparent;
		color: $color_green;
	}
	
	&:after,
	&:before{
		@include transition(all .2s linear);
	}
}*/



// =================================================================================== //
// Accordion
/*
.accordion { 
	list-style: none; 
	margin: 0 0 30px;
	@include transition(all .2s linear);
	
	&:hover {
		@include card_shadow(2);
	}
	
	> li{
		border-bottom: 1px solid $color_lightgrey;
		
		> a{
			display: block;
			position: relative;
			
			line-height: 20px;
			text-decoration: none;
			
			@extend %clickable;
			background: none;
			color: $color_blue;
			@include border-radius(0);
			border: 0;
			width: 100%;
			padding: 20px 30px;
		}
		
		> a:after{
			font: normal normal normal 14px/1 FontAwesome;
			font-size: 23px;
			display: block;
			content: "\f107";
			position: absolute;
			right: 20px;
			top: 18px;
			z-index: 22;
		}
		
		.accordion_content{
			display: none;
			padding: 30px;
			line-height: 24px;
			
			*{
				text-align: left;
				@extend p;
				font-size: inherit!important;
				font-family: inherit!important;
				color: inherit!important;
				line-height: 150%;
			}
			
			ul{ list-style: disc; }
		}
		
		&.active {

			a {
				background: $color_blue;
				color: $color_white;
				
				&:after{
					content: "\f106";
				}	
			}
			.accordion_content{display: block;}
		}

	}
}*/


/*SPECIAL*/

/*INPUT ERROR*/
/*ERRO NAS INPUTS DO SLIDER DO TOPO*/

/*
.inputError{
padding:0px; 
margin-bottom:25px;
margin-right: 3px;
height:32px; 
position:relative; 
}

.errorToolTip{ display: none;}

.displayError .errorToolTip{ display: block;}

  .errorToolTip{
  position:absolute; 
  top:-10px; 
  left:-3px; 
  width:auto;
  }

    .imgError{
    height:9px; 
    width:15px; 
    background:url(../sysimages/bgToolTipError.png) no-repeat top left; 
    float:left;
    position: absolute;
    top:26px;
    left: 10px;
    }

    .bgError{
    background-color:rgb(156,31,47);
    }

    .errorToolTip .bgError p{
    color:#fff; 
    font-size: 12px;
    line-height: 26px;
    margin-left: 10px;
    margin-right: 10px;
    }

--------------------
HTML:

<div class="inputError">
    <label>Text input
        <input type="text" value="default value that goes on and on without stopping or punctuation">
    </label>
      
    <div class="errorToolTip">
        <div class="imgError"></div>
        <div class="bgError"><p>Campo de preenchimento obrigat�rio.</p></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
*/


/*Buttons*/
.button,
button,
input[type=submit]{
font-family: 'intro';
font-size: 14px;
color: #FFF;
padding: 20px 25px;
border: none;
background: $color_gold;
position: relative;
@include transition(all .2s ease);
    
	// Triangles Top and Bottom
    &::before,
	&::after{
      position: absolute;
      display: block;
      height: 5px;
      width: 26px;
      content:'';
      background: url(../sysimages/triangles.svg) no-repeat;
	  opacity: .8;
	  @include transition(all .2s ease);
    }
	
	&::before{
	  top:-5px;
      left: calc(50% - 12px);
	  -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg);
	}
	
    &::after{
      bottom:-5px;
      left: calc(50% - 12px);
    }
    
    // Hover
    &:hover {
        background: rgba(255,255,255,0.80);
        color: #BE975F;
    }
    
}




/* GRID STATIC */
.container {
  width: 100%;
  max-width: 1170px;
}

/* GRID RESPONSIVE */
/*@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}*/




// ===================================================================================================================
// Header

#header {
	
	.navbar{
		top: 20px;
		height: $header_height;
		background: rgba(83,59,42,0.85);
		border: none;
		margin-bottom: 0;
		
		& > div{
			display: -webkit-flex;
			display: flex;
			-webkit-flex-flow: row wrap;
			flex-flow: row wrap;
		}
		
		#logo{
			height: $header_height;
			padding-top: 28px;
			-webkit-flex: 1 auto;
			flex: 1 auto;
		}
		
		#nav {
			height: $header_height;
			-webkit-flex: 1 auto;
			flex: 1 auto;
			text-align: center;
			
			li{
				display: inline-block;
				margin: 0;
				
				a{
					height: $header_height;
					display: table-cell;
					vertical-align: middle;
					padding: 0 7px;
					margin: 0;
					font-family: 'intro';
					font-size: 12px;
					color: #FFF;
					text-decoration: none;
					position: relative;
					
					&::before,
					&::after{
						position: absolute;
						display: block;
						height: 5px;
						width: 26px;
						content:'';
						background: url(../sysimages/triangles.svg) no-repeat;
						opacity: 0;
						@include transition(all .2s ease);
					}
					
					&::before{
						top:-5px;
						left: calc(50% - 12px);
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						-o-transform: rotate(180deg);
						transform: rotate(180deg);
					}
					
					&::after{
						bottom:-5px;
						left: calc(50% - 12px);
					}
				}
				
				&.active > a,
				&.active > a:focus, 
				& > a:hover{
					background: #BE975F;
					color: #FFF;
					
					&::before,
					&::after{
						opacity: 1;
					}
				}
			}
		} 
		
		.navbar-right{
			-webkit-flex: 1 auto;
			flex: 1 auto;
			display: inline-block;
			
			a{
				display: block;
				float: right;	
			}
			
			#searchbutton{
				padding: 25px 7px;
			}
			
			#userProfile {
				padding: 20px 0 16px 7px;
				
				img{
					width: 40px;
					height: 40px;
					border-radius: 20px;
				} 	
			}
		}	
	}
}


// ===================================================================================================================
// Footer

#footer{
	height: $footer_height;
	border-top: 2px solid $color_gold;
	
	p , a {
		height: $footer_height;
		display: table-cell;
		vertical-align: middle;
		padding: 0 7px;
		margin: 0;
		font-family: 'intro';
		font-size: 12px;
		color: $color_bl;
		
		&#contacts:hover{
			color: $color_solidGold;
		}
	}
	
	.socialIcons{
		display: inline-block;
		
		a{
			display: inline-block;
			width: 108px;
    		height: 108px;
    		margin-left: -50px;
			
			&.fb{
				background: url(../sysimages/icon_facebook.svg) no-repeat center center;
				
				&:hover{
					background: url(../sysimages/icon_facebook_over.svg) no-repeat center center;
				}
			}
			&.yt{
				background: url(../sysimages/icon_youtube.svg) no-repeat center center;
				
				&:hover{
					background: url(../sysimages/icon_youtube_over.svg) no-repeat center center;
				}				
			}
			&.lk{
				background: url(../sysimages/icon_linkedin.svg) no-repeat center center;
				
				&:hover{
					background: url(../sysimages/icon_linkedin_over.svg) no-repeat center center;
				}			
			}
			&.wap{
				background: url(../sysimages/icon_whatsapp.svg) no-repeat center center;
				
				&:hover{
					background: url(../sysimages/icon_whatsapp_over.svg) no-repeat center center;
				}				
			}
			&.twt{
				background: url(../sysimages/icon_twitter.svg) no-repeat center center;
				
				&:hover{
					background: url(../sysimages/icon_twitter_over.svg) no-repeat center center;
				}				
			}
			&.inst{
				background: url(../sysimages/icon_instagram.svg) no-repeat center center;
				
				&:hover{
					background: url(../sysimages/icon_instagram_over.svg) no-repeat center center;
				}				
			}	
			
		}
	}
	
	#backTop{
		height: $footer_height;
		display: inline-block;
		width: 80px;
		background: $color_solidGold;
		color: $color_w;
	}
	
}


// ===================================================================================================================
// Full Banner		
#fullBanner{
    background: url(../images/homepageBanner.jpg) no-repeat center bottom;
    background-size: cover;
    height: 100vh;
	width: 100%;
    display: table;
    position: relative;
	overflow: hidden;
	
	/*& > div {
		height: 200%;
		position: relative;
		top: -100%;
	}*/
	
	@include keyframes(anim_opacity) {
		0% { opacity: .3; }
		50% { opacity: .1; }
		100% { opacity: .3; }
	}
	@include keyframes(anim_opacity_invert) {
		0% { opacity: .1; }
		50% { opacity: .4; }
		100% { opacity: .1; }
	}
	@include keyframes(slideFromLeft) {
		0% { left: -100%; }
		100% { left: 10px; }
	}
	@include keyframes(slideFromRight) {
		0% { right: -100%; }
		100% { right: 10px; }
	}
    
    // Element 1
    &::before {
        background: url(../sysimages/animate/banner_graf1.svg) no-repeat center center;
        //background-size: 60%;
        content:'';
        display: block;
        z-index: 0;
        width: 100%;
		max-width: 1100px;
        height: 100%;
		opacity: .3;
		@include verticalAlign();
        @include animation('anim_opacity 7s 3');
    }
    
    .bannerContent{
        text-align: center;
        text-transform: uppercase;
        height: 100vh;
        position: relative;
        z-index: 2;
		padding: 0 20%;
		//display: table-cell;
        //vertical-align: middle;
		//overflow: hidden;
        
        h1 {
          font-size: 60px;
          line-height: 110%;
          padding-top: 40px;
          color: $color_w;
        }

        h2 {
          font-size: 22px;
          line-height: 150%;
          margin-bottom: 50px;
          color: $color_w;
        }
        
        /*bg animation 2*/
        &::before{
          background: url(../sysimages/animate/banner_graf2.svg) no-repeat center center;
          opacity: .3;
          content:'';
          display: block;
          position: absolute;
          left: 10px;
          top: -5%;
          z-index: 0;
          width: 200px;
          height: 200px;
		  //@include animation('anim_opacity 5s 5');
		  @include animation('slideFromLeft 3s');
		  
		  
        }
        
        /*bg animation 3*/
       &::after{
          background: url(../sysimages/animate/banner_graf4.svg) no-repeat center center;
          opacity: .3;
          content:'';
          display: block;
          position: absolute;
          right: 10px;
          top: 5%;
          z-index: 0;
          width: 200px;
          height: 200px;
		  //@include animation('anim_opacity_invert 7s 5');
		  @include animation('slideFromRight 3s');
        }
    }
}


// ===================================================================================================================
// Highlights
#highlightSection,
#ecosystemSection{
	padding-bottom: 50px;
	background: url( $bg_img ) repeat left top;
	position: relative;
    z-index: 9;
	overflow: hidden;
	@include clearfix();
	
	&::before {
        background: url(../sysimages/animate/banner_graf3.svg) no-repeat center center;
        //background-size: 60%;
        content:'';
        display: block;
		position: absolute;
		top: -40%;
		right: 20%;
        z-index: 2;
        width: 170px;
        height: 170px;
		opacity: .3;
        @include animation('anim_opacity 7s 3');
    }
}

// Color Categories
$c_trends:#991720;
$c_institutes:#2db677;
$c_consultancies:#515354;
$c_organizations:#b1b2b3;
$c_courses:#0064a6;
$c_news:#f7931e;
$c_scholarships:#ed1c24;
$c_conferences:#be9857;
$c_initiatives:#998675;
$c_tools:#29abe2;
$c_academia:#935491;
$c_briefs:#8cc63f;



// ===================================================================================================================
// Lists
.listContainer{
	
	.listElement{
		position: relative;
		color: inherit;
		width: 100%;
		height: 320px;
		display: block;
		margin-bottom: 15px; 
		@include clearfix();
		
		.elementTitle{
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			height: 320px;
			background: $color_w;
			-webkit-clip-path: polygon(0 0, 0 0, 0% 25%, 25% 0);
			clip-path: polygon(0 0, 0 0, 0% 25%, 25% 0);
			@include transition( all .4s ease );
			@include box-shadow(0, 0, 1px, $color_lightgrey);
			//border: 1px solid rgba($color: $color_lightgrey, $alpha: .2);
		}
		
		.elementContent{
			position: absolute;
			height: 320px;
			top: 0;
			left:0;
			right: -1px;
			-webkit-clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 0% 30%, 30% 0);
			clip-path: polygon(100% 0%, 100% 50%, 100% 100%, 0 100%, 0% 30%, 30% 0);
			background-color: $color_w!important;
			background-size: 100%!important; 
			background-position: 300px 500px!important;
			@include transition( background-position .4s ease );
			@include box-shadow(0, 0, 1px, $color_lightgrey);
			//border: 1px solid rgba($color: $color_lightgrey, $alpha: .2);
			
			.flag{
				position: absolute;
				top: 20px;
				right: 20px;
				z-index: 2;
				font-family: 'helveticabold';
				font-size: 10px;
				color: #FFF;
				padding: 4px 22px;
			}
			.text{
				color: inherit;
				text-decoration: none;
				padding: 120px 20px 20px;
				display: block;
				opacity: 1;
				@include transition( color .2s ease );
				
				p{ margin-top: 25px; }
			}
		}
		
		.downloadPDF{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 2;
			text-decoration: none;
			padding: 3px 20px;
			
			span{
				font-family: 'helvetica';
				font-weight: bold;
				text-transform: uppercase;
				float: right;
				font-size: 12px;
				line-height: 21px;
				padding: 6px 0;
				color: rgba($color: $color_w, $alpha: .8);
				display: none;
			}
		}
		
		&:hover {
			.elementContent {	
				background-position: 0!important;
			
				.text *{
					color: $color_w!important;
				}
			}
			
			.downloadPDF span{ display: block; }
		}
		
		
		
		&.trends{
			.flag,
			.downloadPDF{ background: $c_trends;}
			
			&:hover{
				.elementTitle{ background: $c_trends;}
			}
		}
		&.institutes{
			.flag,
			.downloadPDF{ background: $c_institutes;}
			
			&:hover{
				.elementTitle{ background: $c_institutes;}
			}
		}
		&.consultancies{
			.flag,
			.downloadPDF{ background: $c_consultancies;}
			
			&:hover{
				.elementTitle{ background: $c_consultancies;}
			}
		}
		&.organizations{
			.flag,
			.downloadPDF{ background: $c_organizations;}
			
			&:hover{
				.elementTitle{ background: $c_organizations;}
			}
		}
		&.courses{
			.flag,
			.downloadPDF{ background: $c_courses;}
			
			&:hover{
				.elementTitle{ background: $c_courses;}
			}
		}
		&.news{
			.flag,
			.downloadPDF{ background: $c_news;}
			
			&:hover{
				.elementTitle{ background: $c_news;}
			}
		}
		&.scholarships{
			.flag,
			.downloadPDF{ background: $c_scholarships;}
			
			&:hover{
				.elementTitle{ background: $c_scholarships;}
			}
		}
		&.conferences{
			.flag,
			.downloadPDF{ background: $c_conferences;}
			
			&:hover{
				.elementTitle{ background: $c_conferences;}
			}
		}
		&.initiatives{
			.flag,
			.downloadPDF{ background: $c_initiatives;}
			
			&:hover{
				.elementTitle{ background: $c_initiatives;}
			}
		}
		&.tools{
			.flag,
			.downloadPDF{ background: $c_tools;}
			
			&:hover{
				.elementTitle{ background: $c_tools;}
			}
		}
		&.academia{
			.flag,
			.downloadPDF{ background: $c_academia;}
			
			&:hover{
				.elementTitle{ background: $c_academia;}
			}
		}
		&.briefs{
			.flag,
			.downloadPDF{ background: $c_briefs;}
			
			&:hover{
				.elementTitle{ background: $c_briefs;}
			}
		}
	}
}


// ===================================================================================================================
// Highlights
#weeklycalendarSection{
	background: url(../images/homepageCalendar.jpg) no-repeat center center;
	@include clearfix();
	padding: 30px 30px 100px;
	position: relative;
	overflow: hidden;
	
	.title h1 {
		color: $color_w;
	}
	
	.listContainerCalendar{
		@include clearfix();
		
		.element{
			width: 19%;
			margin: 0 .5%;
			float: left;
			background: $color_gold;
			height: 250px;
		}
	}
}

// ===================================================================================================================
// News Section
#newsSection{
	padding: 40px;
	//background: $color_w;
	position: relative;
	
	.element{
		padding: 60px 60px;
	}
	
}