*{ margin: 0; padding: 0; -moz-font-smoothing: antialiased; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; outline:0}

.overflow{ overflow: hidden; } 
.right{ float: left; } 
.left{ float: right; } 
.textRight{text-align: left;}
.textLeft{text-align: right;}
.textCentered{text-align: center;}
.hidden{display: none;}

main,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
audio:not([controls]){display:none;height:0}[hidden]{display:none}
html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%; -webkit-tap-highlight-color: rgba(0,0,0,0);}
html,button,input,select,textarea{font-family:sans-serif}
a{cursor:pointer;}
b,strong{font-weight:bold}
blockquote{margin-right: 25px}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word}
small{font-size:80%}
ol,ul{list-style-position: outside; margin-right: 30px;}
nav ul,nav ol,.nav ul,.nav ol{list-style:none;list-style-image:none; margin-right:0}
img{border:0;-ms-interpolation-mode:bicubic}svg:not(:root){overflow:hidden}
legend{border:0;padding:0;white-space:normal;*margin-right:-7px}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
input[type=text], input[type=email],input[type=password],input[type=file],input[type=search], textarea {-webkit-appearance: none;-moz-appearance: none;border-radius:0;}
button,input{line-height:normal}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;*overflow:visible; border-radius:0}
.disable, button[disabled],input[disabled]{cursor:default}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
@media screen and (min-width: 1025px){input[type="search"]{-webkit-appearance: textfield;}}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
textarea{overflow:auto;vertical-align:top;resize:none;}
table{border-collapse:collapse;border-spacing:0;empty-cells:show;}

//SCREEN SIZES
$mobile-width:  768px;
$tablet-width: 992px;
$desktop-width: 1024px;
$large-desktop-width: 1200px;

// GRID RESPONSIVE
.container {
padding-right: 15px;
padding-left: 15px;
margin-right: auto;
margin-left: auto;
}

.row { margin-right: -15px; margin-left: -15px; } .row:before, .row:after {display: table; content: " ";} .row:after {clear: both;}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, 
.col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, 
.col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, 
.col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, 
.col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, 
.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, 
.col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, 
.col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, 
.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, 
.col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
position: relative;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}


.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
float: right;
}

.col-xs-12 {      width: 100%; }
.col-xs-11 {      width: 91.66666667%;  }
.col-xs-10 {      width: 83.33333333%;  }
.col-xs-9 {       width: 75%;  }
.col-xs-8 {       width: 66.66666667%; }
.col-xs-7 {       width: 58.33333333%; }
.col-xs-6 {       width: 50%;  }
.col-xs-5 {       width: 41.66666667%; }
.col-xs-4 {       width: 33.33333333%; }
.col-xs-3 {       width: 25%;  }
.col-xs-2 {       width: 16.66666667%; }
.col-xs-1 {       width: 8.33333333%;  }

.col-xs-offset-12 {   margin-right: 100%; }
.col-xs-offset-11 {   margin-right: 91.66666667%; }
.col-xs-offset-10 {   margin-right: 83.33333333%; }
.col-xs-offset-9 {    margin-right: 75%; }
.col-xs-offset-8 {    margin-right: 66.66666667%;  }
.col-xs-offset-7 {    margin-right: 58.33333333%;  }
.col-xs-offset-6 {    margin-right: 50%; }
.col-xs-offset-5 {    margin-right: 41.66666667%;  }
.col-xs-offset-4 {    margin-right: 33.33333333%;  }
.col-xs-offset-3 {    margin-right: 25%; }
.col-xs-offset-2 {    margin-right: 16.66666667%;  }
.col-xs-offset-1 {    margin-right: 8.33333333%; }
.col-xs-offset-0 {    margin-right: 0; }

@media screen and (min-width: $mobile-width) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: right;
  }
  .col-sm-12 {        width: 100%;  }
  .col-sm-11 {        width: 91.66666667%;  }
  .col-sm-10 {        width: 83.33333333%;  }
  .col-sm-9 {         width: 75%; }
  .col-sm-8 {         width: 66.66666667%; }
  .col-sm-7 {         width: 58.33333333%; }
  .col-sm-6 {         width: 50%;  }
  .col-sm-5 {         width: 41.66666667%; }
  .col-sm-4 {         width: 33.33333333%; }
  .col-sm-3 {         width: 25%;  }
  .col-sm-2 {         width: 16.66666667%; }
  .col-sm-1 {         width: 8.33333333%;  }
  
  .col-sm-offset-12 { margin-right: 100%; }
  .col-sm-offset-11 { margin-right: 91.66666667%; }
  .col-sm-offset-10 { margin-right: 83.33333333%; }
  .col-sm-offset-9 {  margin-right: 75%; }
  .col-sm-offset-8 {  margin-right: 66.66666667%;}
  .col-sm-offset-7 {  margin-right: 58.33333333%;}
  .col-sm-offset-6 {  margin-right: 50%;}
  .col-sm-offset-5 {  margin-right: 41.66666667%;}
  .col-sm-offset-4 {  margin-right: 33.33333333%;}
  .col-sm-offset-3 {  margin-right: 25%;}
  .col-sm-offset-2 {  margin-right: 16.66666667%;}
  .col-sm-offset-1 {  margin-right: 8.33333333%;}
  .col-sm-offset-0 {  margin-right: 0;}
}

@media screen and (min-width: $tablet-width) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: right;
  }
  .col-md-12 {        width: 100%;  }
  .col-md-11 {        width: 91.66666667%;  }
  .col-md-10 {        width: 83.33333333%;  }
  .col-md-9 {         width: 75%;  }
  .col-md-8 {         width: 66.66666667%; }
  .col-md-7 {         width: 58.33333333%; }
  .col-md-6 {         width: 50%;  }
  .col-md-5 {         width: 41.66666667%; }
  .col-md-4 {         width: 33.33333333%; }
  .col-md-3 {         width: 25%;  }
  .col-md-2 {         width: 16.66666667%; }
  .col-md-1 {         width: 8.33333333%;  }
  
  .col-md-offset-12 { margin-right: 100%;}
  .col-md-offset-11 { margin-right: 91.66666667%;}
  .col-md-offset-10 { margin-right: 83.33333333%;}
  .col-md-offset-9 {  margin-right: 75%;}
  .col-md-offset-8 {  margin-right: 66.66666667%;}
  .col-md-offset-7 {  margin-right: 58.33333333%;}
  .col-md-offset-6 {  margin-right: 50%;}
  .col-md-offset-5 {  margin-right: 41.66666667%;}
  .col-md-offset-4 {  margin-right: 33.33333333%;}
  .col-md-offset-3 {  margin-right: 25%;}
  .col-md-offset-2 {  margin-right: 16.66666667%;}
  .col-md-offset-1 {  margin-right: 8.33333333%;}
  .col-md-offset-0 {  margin-right: 0;}
}

@media screen and (min-width: $large-desktop-width) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: right;
  }
  .col-lg-12 {        width: 100%;}
  .col-lg-11 {        width: 91.66666667%;}
  .col-lg-10 {        width: 83.33333333%;}
  .col-lg-9 {         width: 75%;}
  .col-lg-8 {         width: 66.66666667%;}
  .col-lg-7 {         width: 58.33333333%;}
  .col-lg-6 {         width: 50%;}
  .col-lg-5 {         width: 41.66666667%;}
  .col-lg-4 {         width: 33.33333333%;}
  .col-lg-3 {         width: 25%;}
  .col-lg-2 {         width: 16.66666667%;}
  .col-lg-1 {         width: 8.33333333%;}
  
  .col-lg-offset-12 { margin-right: 100%; }
  .col-lg-offset-11 { margin-right: 91.66666667%; }
  .col-lg-offset-10 { margin-right: 83.33333333%; }
  .col-lg-offset-9 {  margin-right: 75%; }
  .col-lg-offset-8 {  margin-right: 66.66666667%; }
  .col-lg-offset-7 {  margin-right: 58.33333333%; }
  .col-lg-offset-6 {  margin-right: 50%; }
  .col-lg-offset-5 {  margin-right: 41.66666667%; }
  .col-lg-offset-4 {  margin-right: 33.33333333%; }
  .col-lg-offset-3 {  margin-right: 25%; }
  .col-lg-offset-2 {  margin-right: 16.66666667%; }
  .col-lg-offset-1 {  margin-right: 8.33333333%; }
  .col-lg-offset-0 {  margin-right: 0; }
}

@media (max-width: #{$mobile-width - 1px}) {
    .centered-xs {
      width: 100%!important;
      text-align: center!important;
    }

    .hidden-xs {
      display: none !important;
    }
}
@media (min-width: $mobile-width) and (max-width: #{$tablet-width - 1px}) {
    .centered-sm {
      width: 100%!important;
      text-align: center!important;
    }

    .hidden-sm {
      display: none !important;
    }
}
@media (min-width: $tablet-width) and (max-width: #{$large-desktop-width - 1px}) {
    .centered-md {
      width: 100%!important;
      text-align: center!important;
    }
    .hidden-md {
      display: none !important;
    }
}
@media (min-width: $large-desktop-width) {
    .centered-lg {
      width: 100%!important;
      text-align: center!important;
    }
    .hidden-lg {
      display: none !important;
    }
}



.navbar-fixed-bottom, .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}








/*TO REVIEW*/
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group[class*="col-"] {
  float: none;
  padding-right: 0;
  padding-left: 0;
}
.input-group .form-control {
  float: right;
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 46px;
  line-height: 46px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn,
select[multiple].input-group-lg > .form-control,
select[multiple].input-group-lg > .input-group-addon,
select[multiple].input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn,
select[multiple].input-group-sm > .form-control,
select[multiple].input-group-sm > .input-group-addon,
select[multiple].input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  color: #555;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle),
.input-group-btn:last-child > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
/*.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child),
.input-group-btn:first-child > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}*/
.input-group-addon:last-child {
  border-right: 0;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-right: -1px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:focus,
.input-group-btn > .btn:active {
  z-index: 2;
}
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .btn-group {
  margin-right: -1px;
}
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .btn-group {
  margin-right: -1px;
}