
#calendarSection{
	background: url($bg_img);
	padding-bottom: 40px;
	
	#calendar {
		max-width: 1100px;
		margin: 0 auto;
	}


	.containerEvent{ 
        height: 100px; 
        width: 100%;
        position: relative;
        background: #FFF;
    }
        .contentEvent{
            position: absolute;
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0;
            z-index: 1;
            background: #FFF;
            cursor: pointer;
            padding: 10px;
        }

            .day{
                float: left;
                width: 50px;
                color: #CCC;
                font-size: 14px;
            }

            .groupCategories{
                float: right;
            }

                .category{
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    display: inline-block;
                    margin-left: 3px;
                }

            .eventsNumber{
                clear: right;
                float: left;
                width: 100%;
                font-size: 12px;
                color: #D8D8D8;
                line-height: 100%;
                margin-bottom: 5px;
            }

            .groupEvents{
                opacity: 0;
                float: left;
                width: 100%;
                margin-top: 2px;
            }

            .groupEvents p{
                font-family: "helvetica";
                font-weight: bold;
                font-size: 13px;
                line-height: 140%;
                @include truncateText();
            }
            .groupEvents p span{
                font-family: "helveticabold";
            }


    .contentEvent.hasEvents:hover{
        background: #21282F;
        border: 2px solid #FFF;
        top: -10px;
        bottom: -10px;
        right: -10px;
        left: -10px;
        padding: 10px;
        z-index: 9;
        -webkit-box-shadow: 3px 3px 5px 6px #ccc; 
        -moz-box-shadow:    3px 3px 5px 6px #ccc; 
        box-shadow:         3px 3px 5px 6px #ccc; 
    }

    .contentEvent.hasEvents:hover .day{
        color: #FFF;
    }

    .contentEvent.hasEvents:hover .groupEvents{
        opacity: 1;
    }





	.rsRow td {
		border: 1px solid #D3D3D3;
	}

	.rsContentTable {
	background-color: #ffffff;
	}

	.rsTodayCell .rsDateHeader {
	color: #be9857;
	}
	.rsDateHeader {
		color: #000000;
		font-size: 18px;
		font-family: 'intro';
		text-align: left;
		margin-left: 10px;
		margin-top: 10px;
	}

	.rsHorizontalHeaderTable th {
		width: 14.35%;
		font-family: 'merriweather';
		font-weight: normal;
		color: #21282F;
		font-size: 14px;
		text-align: left;
		padding-left: 5px;
	}

	.rsDateBox {
	margin-top: 5px;
	}

	/*change url for the icon you want*/
	.rsPrevDay {
		content: '';
		background: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA');
		background-size: cover;
		position: absolute;
		width: 20px;
		height: 20px;
		margin-left: 200px;
		font-size: 0px;
	}

	.rsNextDay {
		content: '';
		background: url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSj3XfIpf-OOJRCcWz4iN2CU3qMKVVbj0p0bRvKNGVo1U9pk_8ZIlyR8pWreA');
		background-size: cover;
		position: absolute;
		width: 20px;
		height: 20px;
		margin-left: 170px;
	font-size: 0px;
	}


	.sfcalendar {
	margin-bottom: 5%;
	}

	.k-widget .k-window .sfcalendarEventPreviewWrp {
	background-color: black;
	}

	div.k-window-content {
		background-color: #000;
		font-family: Arial;
		font-weight: bolder;
		color: #f2f2f2;
	}

	div.k-window-titlebar {
	background-color: #000;
	}

	.sfTxtLbl {
	color: #fff
	}

	.sfcalendarEventPreviewEditLnk {
	color: #fff;
	}

	/*.rsDatePickerActivator {
	display:none;
	}*/
}