#fullBanner{
    background: url(../images/homepageBanner.jpg) no-repeat center bottom;
    background-size: cover;
    height: 100vh;
	width: 100%;
    display: table;
    position: relative;
	overflow: hidden;
	
	/*& > div {
		height: 200%;
		position: relative;
		top: -100%;
	}*/
	
	@include keyframes(anim_opacity) {
		0% { opacity: .3; }
		50% { opacity: .1; }
		100% { opacity: .3; }
	}
	@include keyframes(anim_opacity_invert) {
		0% { opacity: .1; }
		50% { opacity: .4; }
		100% { opacity: .1; }
	}
	@include keyframes(slideFromLeft) {
		0% { left: -100%; }
		100% { left: 10px; }
	}
	@include keyframes(slideFromRight) {
		0% { right: -100%; }
		100% { right: 10px; }
	}
    
	#animationFullBanner {
		@include animation('anim_opacity 7s 3');
		@include verticalAlign();
		top: 20%;
		left: 50%;
		opacity: .5;
	}
    // Element 1
   /* &::before {
        background: url(../sysimages/animate/banner_graf1.svg) no-repeat center center;
        content:'';
        display: block;
        z-index: 0;
        width: 100%;
		max-width: 1100px;
        height: 100%;
		opacity: .3;
		@include verticalAlign();
        @include animation('anim_opacity 7s 3');
    }*/
    
    .bannerContent{
        text-align: center;
        text-transform: uppercase;
        height: 100vh;
        position: relative;
        z-index: 2;
		padding: 0 20%;
		text-shadow: 1px 1px $color_bl;
		//display: table-cell;
        //vertical-align: middle;
		//overflow: hidden;
        
        h1 {
          font-size: 60px;
          line-height: 110%;
          padding-top: 40px;
          color: $color_w;
        }

        h2,
        h2 * {
          @extend h2;
          font-size: 22px;
          line-height: 150%;
          margin-bottom: 50px;
          color: $color_w;
        }
        
        &::before{
          background: url(../sysimages/animate/banner_graf2.svg) no-repeat center center;
          opacity: .3;
          content:'';
          display: block;
          position: absolute;
          left: 10px;
          top: -5%;
          z-index: 0;
          width: 200px;
          height: 200px;
		  //@include animation('anim_opacity 5s 5');
		  @include animation('slideFromLeft 3s');
		  
		  
        }
        
        /*bg animation 3*/
       &::after{
          background: url(../sysimages/animate/banner_graf4.svg) no-repeat center center;
          opacity: .3;
          content:'';
          display: block;
          position: absolute;
          right: 10px;
          top: 5%;
          z-index: 0;
          width: 200px;
          height: 200px;
		  //@include animation('anim_opacity_invert 7s 5');
		  @include animation('slideFromRight 3s');
        }
    }
}


@media screen and (max-width: 900px){
	#fullBanner .bannerContent{
		padding: 0;
		
		h1 {
    		font-size: 35px;
		}
		h2{
			font-size: 19px;
			line-height: 190%;
		}
		
		&::before,
		&::after{display: none!important;}
	}
}