#calendarSection {
  direction: rtl; }
  #calendarSection #calendar {
    max-width: 1100px;
    margin: 0 auto; }
  #calendarSection .containerEvent {
    height: 100px;
    width: 100%;
    position: relative;
    background: #FFF; }
  #calendarSection .contentEvent {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background: #FFF;
    cursor: pointer;
    padding: 10px;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
  #calendarSection .rsWrap.rsDateWrap {
    float: left;
    width: 50px; }
    #calendarSection .rsWrap.rsDateWrap .rsDateHeader {
      color: #CCC;
      font-size: 14px;
      -moz-transition: color 0.2s linear;
      -o-transition: color 0.2s linear;
      -webkit-transition: color 0.2s linear;
      transition: color 0.2s linear; }
  #calendarSection .groupCategories {
    float: right; }
  #calendarSection .category {
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: inline-block;
    margin-left: 3px; }
  #calendarSection .eventsNumber {
    clear: right;
    float: left;
    width: 100%;
    font-size: 12px;
    color: #D8D8D8;
    line-height: 100%;
    margin-bottom: 5px; }
  #calendarSection .groupEvents {
    opacity: 0;
    float: left;
    width: 100%;
    margin-top: 2px;
    -moz-transition: opacity 0.2s linear;
    -o-transition: opacity 0.2s linear;
    -webkit-transition: opacity 0.2s linear;
    transition: opacity 0.2s linear; }
  #calendarSection .groupEvents p, #calendarSection .groupEvents .rsWrap.rsDateWrap .rsDateHeader, #calendarSection .rsWrap.rsDateWrap .groupEvents .rsDateHeader {
    font-family: "helvetica";
    font-weight: bold;
    font-size: 13px;
    line-height: 140%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
    #calendarSection .groupEvents p:hover, #calendarSection .groupEvents .rsWrap.rsDateWrap .rsDateHeader:hover, #calendarSection .rsWrap.rsDateWrap .groupEvents .rsDateHeader:hover {
      font-family: "helveticabold";
      color: #C0C0C0; }
  #calendarSection .groupEvents p span, #calendarSection .groupEvents .rsWrap.rsDateWrap .rsDateHeader span, #calendarSection .rsWrap.rsDateWrap .groupEvents .rsDateHeader span {
    font-family: "helveticabold"; }
  #calendarSection .contentEvent.hasEvents:hover {
    background: #21282F;
    border: 2px solid #FFF;
    top: -10px;
    bottom: -10px;
    right: -10px;
    left: -10px;
    padding: 10px;
    z-index: 9;
    min-width: 180px;
    min-height: 130px;
    -webkit-box-shadow: 0 0 5px rgba(102, 102, 102, 0.5) ;
    -moz-box-shadow: 0 0 5px rgba(102, 102, 102, 0.5) ;
    box-shadow: 0 0 5px rgba(102, 102, 102, 0.5) ; }
  #calendarSection .contentEvent.hasEvents:hover .day {
    color: #FFF; }
  #calendarSection .contentEvent.hasEvents:hover .groupEvents {
    opacity: 1; }
  #calendarSection .rsRow td {
    border: 1px solid #D3D3D3; }
  #calendarSection .rsContentTable {
    background-color: #ffffff; }
  #calendarSection .rsTodayCell .rsDateHeader {
    color: #be9857; }
  #calendarSection .rsHorizontalHeaderTable th {
    width: 14.35%;
    font-family: 'merriweather';
    font-weight: normal;
    color: #21282F;
    font-size: 14px;
    text-align: left;
    padding-left: 5px; }
  #calendarSection .sfcalendar {
    margin-bottom: 5%; }
  #calendarSection .k-widget .k-window .sfcalendarEventPreviewWrp {
    background-color: black; }
  #calendarSection div.k-window-content {
    background-color: #000;
    font-family: Arial;
    font-weight: bolder;
    color: #f2f2f2; }
  #calendarSection div.k-window-titlebar {
    background-color: #000; }
  #calendarSection .sfTxtLbl {
    color: #fff; }
  #calendarSection .sfcalendarEventPreviewEditLnk {
    color: #fff; }

.rsToday {
  display: none; }

.fc-toolbar {
  max-width: 1100px;
  margin: 0 auto; }

.fc-toolbar .fc-left {
  float: left; }

.fc-toolbar .fc-right {
  float: right; }
  .fc-toolbar .fc-right h2 {
    float: right;
    padding: 5px 20px;
    font-size: 22px;
    color: #7B7C7E; }

.fc-button-group, .fc-icon {
  display: inline-block; }

.fc-clear {
  clear: both; }

.todayContainer {
  background: url(../sysimages/bgDateCalendar.png) no-repeat left top;
  height: 40px;
  width: 180px;
  line-height: 40px;
  margin-right: 15px;
  font-family: "merriweather";
  font-size: 14px;
  color: #7B7C7E;
  padding: 0 15px; }

.popupCalendar {
  max-width: 400px; }
  .popupCalendar .content {
    position: relative;
    padding-bottom: 0; }
    .popupCalendar .content::before {
      position: absolute;
      content: '';
      display: block;
      width: 30px;
      height: 30px;
      background: url(../sysimages/cornerTopPopup.png) no-repeat left top; }
    .popupCalendar .content img {
      max-width: 100%; }
    .popupCalendar .content .contentText {
      width: 100%;
      padding: 35px 20px; }
      .popupCalendar .content .contentText .eventName {
        font-family: 'helveticabold';
        font-size: 16px; }
      .popupCalendar .content .contentText .eventDate {
        font-family: 'merriweather';
        font-size: 14px;
        margin-bottom: 40px; }
      .popupCalendar .content .contentText .eventLocationName {
        font-family: 'merriweather';
        font-size: 16px;
        color: #333333; }
      .popupCalendar .content .contentText .eventLocation {
        font-family: 'merriweather';
        font-size: 14px;
        color: #666666; }
    .popupCalendar .content .footer {
      width: 100%;
      padding: 0 20px;
      height: 38px;
      background: #CCC; }
      .popupCalendar .content .footer:before, .popupCalendar .content .footer:after {
        content: "";
        display: table; }
      .popupCalendar .content .footer:after {
        clear: both; }
      .popupCalendar .content .footer .tags {
        float: left; }
        .popupCalendar .content .footer .tags a {
          display: inline-block;
          margin-right: 5px;
          font-family: 'helvetica';
          font-size: 12px;
          color: #FFFFFF;
          line-height: 38px; }
      .popupCalendar .content .footer .category {
        float: right;
        font-family: 'helveticabold';
        font-size: 12px;
        color: #FFFFFF;
        line-height: 38px; }

.containerLegendCategory {
  max-width: 1098px;
  margin-top: -60px;
  padding: 0 10px 60px;
  direction: rtl; }
  .containerLegendCategory .category {
    display: inline-block;
    margin-right: 22px; }
    .containerLegendCategory .category p, .containerLegendCategory .category #calendarSection .rsWrap.rsDateWrap .rsDateHeader, #calendarSection .rsWrap.rsDateWrap .containerLegendCategory .category .rsDateHeader {
      font-family: 'intro';
      font-size: 12px; }
      .containerLegendCategory .category p span, .containerLegendCategory .category #calendarSection .rsWrap.rsDateWrap .rsDateHeader span, #calendarSection .rsWrap.rsDateWrap .containerLegendCategory .category .rsDateHeader span {
        width: 8px;
        height: 8px;
        border-radius: 4px;
        display: inline-block;
        margin-left: 3px; }

.rsContentScrollArea {
  min-height: 550px; }

/*# sourceMappingURL=rtl_calendar.css.map */
