#footer {
  height: 108px;
  border-top: 2px solid rgba(190, 151, 95, 0.8);
  background: rgba(255, 255, 255, 0.4); }
  #footer * {
    direction: rtl; }
  #footer p, #footer a {
    height: 108px;
    display: table-cell;
    vertical-align: middle;
    padding: 0 7px;
    margin: 0;
    font-family: 'intro';
    font-size: 12px;
    color: #21282f; }
    #footer p#contacts:hover, #footer p#changeLanguage:hover, #footer a#contacts:hover, #footer a#changeLanguage:hover {
      color: #be9857; }
  #footer .socialIcons {
    display: inline-block;
    margin-left: 40px; }
    #footer .socialIcons a {
      display: inline-block;
      width: 70px;
      height: 108px;
      margin-right: -13px; }
      #footer .socialIcons a.fb {
        background: url(../sysimages/social/icon_facebook.png) no-repeat center center; }
        #footer .socialIcons a.fb:hover {
          background: url(../sysimages/social/icon_facebook_over.png) no-repeat center center;
          background-size: 100%; }
      #footer .socialIcons a.yt {
        background: url(../sysimages/social/icon_youtube.png) no-repeat center center; }
        #footer .socialIcons a.yt:hover {
          background: url(../sysimages/social/icon_youtube_over.png) no-repeat center center;
          background-size: 100%; }
      #footer .socialIcons a.lk {
        background: url(../sysimages/social/icon_linkedin.png) no-repeat center center; }
        #footer .socialIcons a.lk:hover {
          background: url(../sysimages/social/icon_linkedin_over.png) no-repeat center center;
          background-size: 100%; }
      #footer .socialIcons a.wap {
        background: url(../sysimages/social/icon_whatsapp.png) no-repeat center center; }
        #footer .socialIcons a.wap:hover {
          background: url(../sysimages/social/icon_whatsapp_over.png) no-repeat center center;
          background-size: 100%; }
      #footer .socialIcons a.twt {
        background: url(../sysimages/social/icon_twitter.png) no-repeat center center; }
        #footer .socialIcons a.twt:hover {
          background: url(../sysimages/social/icon_twitter_over.png) no-repeat center center;
          background-size: 100%; }
      #footer .socialIcons a.inst {
        background: url(../sysimages/social/icon_instagram.png) no-repeat center center; }
        #footer .socialIcons a.inst:hover {
          background: url(../sysimages/social/icon_instagram_over.png) no-repeat center center;
          background-size: 100%; }
  #footer #backTop {
    height: 108px;
    display: inline-block;
    width: 80px;
    color: #FFF;
    padding: 40px 20px;
    background: rgba(190, 151, 95, 0.8) url(../sysimages/button/button_up@2x.png) no-repeat center center; }
    #footer #backTop:hover {
      background-color: #be9857; }

@media (max-width: 900px) {
  #footer {
    height: auto; }
    #footer p, #footer a {
      height: auto;
      padding: 10px 7px; }
    #footer .socialIcons {
      margin-right: 0; }
      #footer .socialIcons a {
        margin-left: 0;
        height: 68px; }
    #footer #backTop {
      position: fixed;
      bottom: 0;
      right: 0;
      height: 68px;
      z-index: 999999;
      width: 60px; } }

/*# sourceMappingURL=rtl_footer.css.map */
