<div class="popup popupCalendar" style="display:none;">
    <article class="content" style="max-width:400px;">
        <img alt="" src="http://54.93.89.184/images/default-source/default-album/ecosystem1011d5894cf4696fa65bff0000c51620.jpg?sfvrsn=0" style="max-width:100%;" />
        <div class="col-md-12">
            <h1 class="eventName"{{subject}}</h1>
            <p class="eventDate">{{date}}</p>
            <p class="eventLocationName">{{ location }}</p>
            <p class="eventLocation">
                Office 306, Icon Tower, Tecom - Dubai -
                United Arab Emirates
            </p>
        </div>
        <div class="footer">
            <div class="tags">
                <a>#family</a>
                <a>#dance</a>
                <a>#meditation</a>
                <a>#happyness</a>
            </div>
            <div class="category">Family</div>
        </div>
    </article>
</div>