<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement trends" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">trends</div>
            
            <a href="templates/view_popup_image.html" class="text">
                <h3>Conneting Minds, Creating the Future</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
        <a href="javascript:void(0)" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement institutes" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">institutes</div>
            <a href="templates/view_popup_video.html" class="text">
                <h3>Managing Green Business Model Transformations</h3>
                <p>Environmental sustainability creates both tremendous business.</p>
            </a>
        </div>
        <a href="javascript:void(0)" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement consultancies" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">consultancies</div>
            <a href="templates/view_popup.html" class="text">
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>The UAE is working towards establishing a solid future.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement organizations" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">organizations</div>
            <a href="templates/view_popup.html" class="text">
                <h3>Demand-led Related Diversification</h3>
                <p>Demand-led Related Diversification: Green Construction in the GCC.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement courses" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">courses</div>
            <a href="templates/view_popup_video.html" class="text">
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>The UAE is working towards establishing a solid future.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement news" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">news</div>
            <a href="templates/view_popup.html" class="text">
                <h3>Demand-led Related Diversification</h3>
                <p>Demand-led Related Diversification: Green Construction in the GCC.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement scholarships" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">scholarships</div>
            <a href="templates/view_popup.html" class="text">
                <h3>Connecting Minds, Creating the Future</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement conferences" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
         <div class="elementContent" >
            <div class="flag">conferences</div>
            <a href="templates/view_popup.html" class="text">
                <h3>Dubai wants a quarter of car trips autonomous </h3>
                <p>With its newly launched Dubai Future Foundation, has set some remarkable.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement initiatives" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">initiatives</div>
            <a href="templates/view_popup_video.html" class="text">
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>The UAE is working towards establishing a solid future.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement tools" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">tools</div>
            <a href="templates/view_popup.html" class="text">
                <h3>Demand-led Related Diversification</h3>
                <p>Demand-led Related Diversification: Green Construction in the GCC.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement academia" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">academia</div>
            <a href="templates/view_popup.html" class="text">
                <h3>Connecting Minds, Creating the Future</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<!-- 1 - insert category in class .listElement and inside content of element .flag -->
<!-- 2 - insert background-image on elementContent -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement briefs" >
        
     
        <svg viewBox="0 0 252 315" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          
            <path id="path-1" d="M82,5.32907052e-15 L0,5.32907052e-15 L0,82 L82,1.42108547e-14 Z"></path>
            <mask id="mask-2" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="82" height="82" fill="white">
                <use xlink:href="#path-1"></use>
            </mask>
            
            <path id="path-3" stroke="#F2F2F2" stroke-width="1" d="M94,0 L252,0 L252,315 L0,315 L0,94 L94,5.32907052e-15 Z" fill="#FFFFFF"></path>
            <mask id="mask-4" maskContentUnits="userSpaceOnUse" maskUnits="objectBoundingBox" x="0" y="0" width="252" height="315" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>
               
            <use id="elementIcon" xlink:href="#path-1" stroke="#7b7c7e" mask="url(#mask-2)" stroke-width="1" fill="#FFFFFF"></use>

            <mask id="mask-5" fill="white">
                <use xlink:href="#path-3"></use>
            </mask>

            <image class="Bitmap" mask="url(#mask-4)" xlink:href="images/card-institute.jpg" stroke="none" fill="none" x="-1" y="0" width="101%" height="101%">  
        </svg>
        
        <div class="elementTitle"></div>
        <div class="elementContent">
            <div class="flag">briefs</div>
            <a href="templates/view_popup_video.html" class="text">
                <h3>Dubai wants a quarter of car trips autonomous </h3>
                <p>With its newly launched Dubai Future Foundation, has set some remarkable.</p>
            </a>
        </div>
        <a href="#" class="downloadPDF">
            <span>pdf</span>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<script type="text/javascript">

    $(".text").click(function ()
    {
        event.preventDefault();
        $.get(this.href, function (data) { $data = $(data); $.fancybox($data); });
    });
    
</script>


<!--
Categories:

trends
institutes
consultancies
organizations
courses
news
scholarships
conferences
initiatives
tools
academia
briefs
-->
