<div class="popup" style="width:600px; height: 500px;">
    <div class="content">
        <div class="col-md-8">
            <h1>Year of innovation</h1>
            <p>May 07, 2016</p>
            <p>The Cabinet met in a 500-year-old castle on Sunday to approve the designation of 2015 as the Year of Inoavtiaotnio,ninPoalipclyan to makDeetmheanUdA-lEedaRweolartleddinnovative</p>
        </div>
        <div class="col-md-4">
            <h4>Tags</h4>
            <a href="">#photo #mind #connecting #ceremony #innovation #people</a>
            <br>
            <h4>Tags</h4>
            <a href="">#photo #mind #connecting #ceremony #innovation #people</a>
        </div>
    </div>
</div>
