<div class="centered-xs centered-sm hidden-md hidden-lg"><a onclick="closeFilters()" class="button">Close Filters</a></div>

<div class="subtitle">
    <h3>CATEGORIES <a id="reset" onclick="reset()">Reset</a></h3>
</div>

<div class="filters">
    <div class="filter academia">
        <label>Academia
            <input type="checkbox">
        </label>
    </div>

    <div class="filter institutes">
        <label>Institutes
            <input type="checkbox">
        </label>
    </div>

    <div class="filter consultancies">
        <label>Consultancies
            <input type="checkbox">
        </label>
    </div>

    <div class="filter organizations">
        <label>Organizations
            <input type="checkbox">
        </label>
    </div>

    <div class="filter conferences">
        <label>Conferences
            <input type="checkbox">
        </label>
    </div>

    <div class="filter scholarships">
        <label>Scholarships
            <input type="checkbox">
        </label>
    </div>

    <div class="filter news">
        <label>News
            <input type="checkbox">
        </label>
    </div>

    <div class="filter trends">
        <label>Trends
            <input type="checkbox">
        </label>
    </div>

    <div class="filter courses">
        <label>Courses
            <input type="checkbox">
        </label>
    </div>

    <div class="filter initiatives">
        <label>Initiatives
            <input type="checkbox">
        </label>
    </div>

    <div class="filter tools">
        <label>Tools
            <input type="checkbox">
        </label>
    </div>

    <div class="filter briefs">
        <label class="checked">Briefs
            <input type="checkbox">
        </label>
    </div>
</div>

<div class="subtitle">
    <h3>Date <a id="reset" onclick="reset()">Reset</a></h3>
</div>

<div class="filter">
    <span class="filterTitle">Start Date:</span>
    <div class="input-group date" id="datetimepickerStart">
        <input type="text" id="filterStartDate" class="form-control">
        <span class="input-group-addon">
            <span class="icon icon-calendar-2"></span>
        </span>
    </div>
    <span class="filterTitle">End Date:</span>
    <div class="input-group date" id="datetimepickerEnd">
        <input type="text" id="filterEndDate" class="form-control">
        <span class="input-group-addon">
            <span class="icon icon-calendar-2"></span>
        </span>
    </div>
</div>

<div class="centered-xs centered-sm hidden-md hidden-lg"><a onclick="closeFilters()" class="button">Close Filters</a></div>


<script>
    function reset() 
    {
        e.preventDefault();
        $(".filter input").find('input[type=checkbox]').attr("checked", true);
        $(".filter label").addClass('checked');
        refreshFilteredAnnouncements();
    };
  
    function closeFilters()
    {
        $('#filterSection').fadeOut();
    }

    function openFilters()
    {
        $('#filterSection').fadeIn();
    }

     $(document).ready(function () {

         refreshFilteredAnnouncements();
         
         $(".filter label").click(function(e)
        {
            var me = $(this);
            var isChecked = me.hasClass("checked"); 
            
            if (isChecked)  
            { 
                me.removeClass("checked");
            }       
            else {  
                me.addClass("checked"); 
            }

            e.preventDefault();         
            me.find('input[type=checkbox]').attr("checked", !isChecked);
            refreshFilteredAnnouncements();
        });
     });

    
     var refreshFilteredAnnouncements = function () {
         var checkedCategories = $('#announcementFilters').find("input[type='checkbox']:checked");
         var checkedCategoriesIds = new Array();

         if (checkedCategories.length == 0) {
             checkedCategories = $('#announcementFilters').find("input[type='checkbox']").prop('checked', true);
         }

         for (var i = 0; i < checkedCategories.length; i++) {
             checkedCategoriesIds.push(checkedCategories[i].getAttribute("categoryId"));
         }

         var startDate = $("#filterStartDate").val();
         var endDate = $("#filterEndDate").val();

         $.ajax({
             url: "Announcements/FilteredAnnouncementsWithArea?Id=" + checkedCategoriesIds.join(";") + "&StartDate=" + startDate + "&EndDate=" + endDate + "&Category=Ecosystem&idCategory=1",
             success: function (data) {
                 $("#filteredAnnouncenemts").html(data);
             }
         });
     }
    
</script>

