<div class="container">
    <div class="title">
        <h1>CONTACT US</h1>
    </div>
    
    <div id="contactForm">
        <form name="" method="POST" enctype="">
            <input type="hidden" name="form_id" value="">
            
            <div class="row">
            <div class="inputSelect col-md-6 col-md-offset-3">                    
                <select name="" id="">
                    <option value="" selected disabled>Subject</option>
                    <option value="">Teste</option>
                    <option value="">Teste</option>
                </select>
            </div>
            </div>
            
            <div class="row">
            <div class="inputElement col-md-6">          
                <input type="text" placeholder="Name" name="" value="" class="required" require="">
            </div>
            
            <div class="inputElement col-md-6">           
                <input type="email" placeholder="Email" name="" value="" class="required" require="">
            </div>
            
            <div class="inputElement col-md-6">                       
                <input type="number" maxlength="13" placeholder="Phone" name="" value="" class="required" require="" min="1" max="13">
            </div>
            
            <div class="inputElement col-md-6">                       
                <input type="text" placeholder="Company" name="" value="" class="required" require="">
            </div>
            
            <div class="inputElement col-md-12">   
                <textarea name="" id="" cols="30" rows="10" placeholder="Message" class="required"></textarea>                    
            </div>
            
            <div class="col-md-12">
                <input style="display:block; margin: 0 auto;" type="submit" value="Send Message">
            </div>
            </div> 
        </form>  
    </div>
</div>