<div class="invertColors">
    <div class="title">
        <h1>Weekly Calendar</h1>
    </div>

    <div class="listContainerCalendar">

        <div class="element">
            <h2 class="day">Today</h2>
            
            <p class="dateEvent">May 9, Monday</p>
            <a href="calendar.html" class="eventDescription">Tibetan Singing Bowl Meditation</a>
            <p class="timeEvent"> 8:00 PM </p>
        </div>
        
        <div class="element">
            <h2 class="day">Tomorrow</h2>
            
            <p class="dateEvent">May 10, Tuesday  </p>
            <a href="calendar.html" class="eventDescription">Afternoon Stress Relief Meditation  </a>
            <p class="timeEvent"> 12:00 PM </p>
        </div>
        
        <div class="element">
              <p class="dateEvent">May 11, Wednesday  </p>
              <a href="calendar.html" class="eventDescription">Single Seater experience: Stage 1 </a>
              <p class="timeEvent"> 9:00 AM </p>
              <br />
              <a href="calendar.html" class="eventDescription">Aura Cleansing Meditation </a>
              <p class="timeEvent"> 6:45 PM </p>
        </div>
        
        <div class="element">
              <p class="dateEvent">May 12, Thursday   </p>
              <a href="calendar.html" class="eventDescription">Club Circuit Newcomers Bike Track Evening </a>
              <p class="timeEvent"> 4:30 PM </p>
              <br />
              <a href="calendar.html" class="eventDescription">Single Seater experience: Stage 1 </a>
              <p class="timeEvent"> 6:00 PM </p>
        </div>
        
          <div class="element">
              <p class="dateEvent">May 13, Friday </p>
              <a href="calendar.html" class="eventDescription">Awaken your Feminine Power Workshop  </a>
              <p class="timeEvent"> 11:00 AM </p>
              <br />
              <a href="calendar.html" class="eventDescription">Soul Clap @ Level 41 in Dubai, United Arab Emirates </p>
              <p class="timeEvent"> 7:00 PM </p>
        </div>
    </div>
</div>
