<div class="">
    <div class="row">
        <div class="element col-sm-4 col-md-4">
            <div class="subtitle">
                <h3>Weekly Calendar Weekly Calendar Weekly Calendar</h3>
                <h1>ipgpigpi ipgpigpi ipgipgpigpi</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint cumque aspernatur quia. Quaerat nihil corrupti dicta et sunt saepe nostrum, magnam sequi corporis, amet quo velit commodi maiores. Magnam, quae.</p>
            </div>
        </div>
        
        <div class="element col-sm-4 col-md-4">
            <div class="subtitle">
                <h3>Weekly Calendar Weekly Calendar Weekly Calendar</h3>
                <h1>ipgp ipgpigpi ipgpigpi ipgpigpi ipgpigpi</h1>
                <p>or sit amet, consectetur adipisicing elit. Sint cumque aspernatur quia. Quaerat nihil corrupti dicta et sunt saepe nostrum, magnam sequi corporis, amet quo velit commodi maiores. Magnam, quae.</p>
            </div>
        </div>
        
        <div class="element col-sm-4 col-md-4">
            <div class="subtitle">
                <h3>Weekly Calendar Weekly Calendar Weekly Calendar</h3>
                <h1>ipgpigpi ipgpigpi ipgpigpi ipgpigpi ipgpigpi ipgpigpi</h1>
                <p>gpouloremgougougo Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint cumque aspernatur quia. Quaerat nihil corrupti dicta et sunt saepe nostrum, magnam sequi corporis, amet quo velit commodi maiores. Magnam, quae.</p>
            </div>
        </div>
        
    </div>
</div>
