<nav class="navbar navbar-fixed-top" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="container">

        <a id="logo" href="index.html" itemprop="url" id="logo" itemscope itemtype="http://schema.org/Organization">
            <img src="sysimages/logo_future program.svg" alt="UAE Future" title="UAE Future" itemprop="logo">
        </a>

        <ul id="nav">
            <li id="homepage"><a href="index.html" itemprop="url" class="headerlinks">Homepage</a></li>
            <li id="ecosystem"><a href="ecosystem.html" itemprop="url" class="headerlinks">Ecosystem</a></li>
            <li id="news"><a href="news.html" itemprop="url" class="headerlinks">News</a></li>
            <li id="research"><a href="research.html" itemprop="url" class="headerlinks">Research</a></li>
            <li id="initiatives"><a href="initiatives.html" itemprop="url" class="headerlinks">Initiatives</a></li>
            <li id="calendar"><a href="calendar.html" itemprop="url" class="headerlinks">Calendar</a></li>
            <li id="culture"><a href="culture.html" itemprop="url" class="headerlinks">Culture</a></li>
            <li id="resources"><a href="resources.html" itemprop="url" class="headerlinks">Resources</a></li>
            <li id="about"><a href="about.html" itemprop="url" class="headerlinks">UAE Future</a></li>
            <li id="partners"><a href="partners.html" itemprop="url" class="headerlinks">Partners</a></li>
        </ul>

        <div class="navbar-right">

            <a href="login.html" id="userProfile"><img src="images/user.jpg" alt="Rashid Halam"></a>

            <a href="javascript:void(0)" id="searchbutton"></a>

            <a href="login.html" id="loginButton">Login</a>

            <div id="navIcon"><span></span><span></span><span></span></div>
        </div>
    </div>

    <div class="container-search">
        <div id="frmPesq">
            <div class="wrapper-input">
                <input type="search" class="search-input" id="input-id" placeholder="What are you looking for?">
                <a href="#" class="button" id="searchSubmitBtn">Search Here</a>
            </div>
        </div>
    </div>
</nav>

<script>

    $(document).ready(function(){
        $('#searchSubmitBtn').click(function (ev) {
            var term = $("#input-id").val();
            window.location = "uae_searchresults?searchQuery=" + term + "&indexCatalogue=uae-index&wordsMode=0";
        });

        $('#searchbutton').click(function () {

            if ($('.container-search').hasClass('open')) {
                $('.container-search').removeClass('open');
                $('.container-search').css('visibility', 'hidden').css('opacity', '0');
            } else {
                $('.container-search').addClass('open');
                $('.container-search').css('visibility', 'visible').css('opacity', '1');
                bindClose();
                setTimeout(function () {
                    $('.search-input').focus();
                }, 100);
            }
        });
    });

    function bindClose() {

        $('.wrapper-input').click(function (ev) {
            ev.stopPropagation();
        });

        $('.container-search.open').click(function (ev) {
            $('.container-search').removeClass('open');
            $('.container-search').css('visibility', 'hidden').css('opacity', '0');
        });
    }
</script>