
<script>
    //$(document).ready(function(){
        //TweenLite.to( $("#circles"), 50, { rotation: "360", repeat:-1,  ease: Linear.easeNone,  transformOrigin:"50% 50%"});
        //TweenLite.to( $(".bg1, .bg3"), 50, { rotation: "-360", repeat:-1,  ease: Linear.easeNone,  transformOrigin:"50% 50%"});       
    //});
</script>

<div class="bannerContent">
    
    
    <h1>The Future of Government</h1>
    <h2>It will be the first project of the foundation to build a model of futuristic city.</h2>
    <button>Learn More</button>
</div>
<img id="animationFullBanner" class="" src="sysimages/animate/banner_graf1.svg" alt="">
    <img class="bg1 hidden-xs hidden-sm" src="sysimages/animate/banner_graf2.svg" alt="">
    <img class="bg3 hidden-xs" src="sysimages/animate/banner_graf4.svg" alt="">
    