<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">    
    <div class="listElementImage" style="background:url(http://fakeimg.pl/200x200/) no-repeat top center;">
        <a class="elementContent" href="javacript:void(0)">
           <h3>Company XPTO</h3>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">    
    <div class="listElementImage" style="background:url(http://fakeimg.pl/200x200/) no-repeat top center;">
        <a class="elementContent" href="javacript:void(0)">
           <h3>Company XPTO</h3>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">    
    <div class="listElementImage" style="background:url(http://fakeimg.pl/200x200/) no-repeat top center;">
        <a class="elementContent" href="javacript:void(0)">
           <h3>Company XPTO</h3>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">    
    <div class="listElementImage" style="background:url(http://fakeimg.pl/200x200/) no-repeat top center;">
        <a class="elementContent" href="javacript:void(0)">
           <h3>Company XPTO</h3>
        </a>
    </div>
</div>
<!-- End Element to repeat -->

<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">    
    <div class="listElementImage" style="background:url(http://fakeimg.pl/200x200/) no-repeat top center;">
        <a class="elementContent" href="javacript:void(0)">
           <h3>Company XPTO</h3>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">    
    <div class="listElementImage" style="background:url(http://fakeimg.pl/200x200/) no-repeat top center;">
        <a class="elementContent" href="javacript:void(0)">
           <h3>Company XPTO</h3>
        </a>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">    
    <div class="listElementImage" style="background:url(http://fakeimg.pl/200x200/) no-repeat top center;">
        <a class="elementContent" href="javacript:void(0)">
           <h3>Company XPTO</h3>
        </a>
    </div>
</div>
<!-- End Element to repeat -->