<div class="container">
    <div class="left">
        <p>Future program copyright 2016</p>
        <a href="contacts.html" id="contacts">Contacts</a>
    </div>
    
    <div class="right">
        <div class="socialIcons">
            <a href="javacript:void(0)" class="fb"></a>
            <a href="javacript:void(0)" class="yt"></a>
            <a href="javacript:void(0)" class="lk"></a>
            <a href="javacript:void(0)" class="wap"></a>
            <a href="javacript:void(0)" class="twt"></a>
            <a href="javacript:void(0)" class="inst"></a>
        </div>
        
        <a id="backTop">
            <img src="sysimages/button_top.png" alt="">
        </a>
    </div>
</div>