<nav class="navbar navbar-fixed-top" itemscope itemtype="http://schema.org/SiteNavigationElement">
    <div class="container">
        
        <a id="logo" href="index.html" itemprop="url" id="logo" itemscope itemtype="http://schema.org/Organization">
            <img src="sysimages/logo_future program.svg" alt="UAE Future" title="UAE Future" itemprop="logo">
        </a>
        
        <ul id="nav">
            <li class="active"><a href="index.html" itemprop="url" class="headerlinks">Homepage</a></li>
            <li><a href="ecosystem.html" itemprop="url" class="headerlinks">Ecosystem</a></li>
            <li><a href="news.html" itemprop="url" class="headerlinks">News</a></li>
            <li><a href="research.html" itemprop="url" class="headerlinks">Research</a></li>
            <li><a href="initiatives.html" itemprop="url" class="headerlinks">Initiatives</a></li>
            <li><a href="calendar.html" itemprop="url" class="headerlinks">Calendar</a></li>
            <li><a href="culture.html" itemprop="url" class="headerlinks">Culture</a></li>
            <li><a href="resources.html" itemprop="url" class="headerlinks">Resources</a></li>
            <li><a href="about.html" itemprop="url" class="headerlinks">UAE Future</a></li>
            <li><a href="partners.html" itemprop="url" class="headerlinks">Partners</a></li>
        </ul>
        
        <div class="navbar-right">
            <a href="javascript:void(0)" id="userProfile">
                <img src="images/user.jpg" alt="Rashid Halam">
            </a>
            
            
            
            <a href="javascript:void(0)" id="searchbutton">
                <img src="sysimages/button_search.svg" alt="">
            </a>
            
            <a href="login.html" id="loginButton">Login</a>
            
        </div>
    </div>
</nav>  