<div class="">
    <div class="row">
        <div class="element col-sm-4 col-md-4">
            <div class="subtitle">
                <h3>Weekly Calendar Weekly Calendar Weekly Calendar</h3>
                <h1>Dubai Holding to allocate 13m for </h1>
                <p>Dubai Holding is set to allocate Dh50 million ($13.6 million) in an endowment to fund future scientific and technical research and studies.</p>
            </div>
        </div>
        
        <div class="element col-sm-4 col-md-4">
            <div class="subtitle">
                <h3>Weekly Calendar Weekly Calendar Weekly Calendar</h3>
                <h1>Dubai Holding to allocate 13m for </h1>
                <p>Dubai Holding is set to allocate Dh50 million ($13.6 million) in an endowment to fund future scientific and technical research and studies.</p>
            </div>
        </div>
        
        <div class="element col-sm-4 col-md-4">
            <div class="subtitle">
                <h3>Weekly Calendar Weekly Calendar Weekly Calendar</h3>
                <h1>Dubai Holding to allocate 13m for </h1>
                <p>Dubai Holding is set to allocate Dh50 million ($13.6 million) in an endowment to fund future scientific and technical research and studies.</p>
            </div>
        </div>
        
    </div>
</div>
