<div class="subtitle">
    <h3>CATEGORIES <a id="reset" onclick="reset()">Reset</a></h3>
</div>

<div class="filters">
    <div class="filter academia">
        <label>Academia
            <input type="checkbox">
        </label>
    </div>
    
    <div class="filter institutes">
        <label>Institutes
            <input type="checkbox">
        </label>
    </div>
    
    <div class="filter consultancies">
        <label>Consultancies
            <input type="checkbox">
        </label>
    </div>
    
        <div class="filter organizations">
        <label>Organizations
            <input type="checkbox">
        </label>
    </div>
    
        <div class="filter conferences">
        <label>Conferences
            <input type="checkbox">
        </label>
    </div>
    
        <div class="filter scholarships">
        <label>Scholarships
            <input type="checkbox">
        </label>
    </div>
    
    <div class="filter news">
        <label>News
            <input type="checkbox">
        </label>
    </div>
    
    <div class="filter trends">
        <label>Trends
            <input type="checkbox">
        </label>
    </div>
    
    <div class="filter courses">
        <label>Courses
            <input type="checkbox">
        </label>
    </div>
    
    <div class="filter initiatives">
        <label>Initiatives
            <input type="checkbox">
        </label>
    </div>
    
    <div class="filter tools">
        <label>Tools
            <input type="checkbox">
        </label>
    </div>
    
        <div class="filter briefs">
        <label>Briefs
            <input type="checkbox">
        </label>
    </div>
    
</div>

<script>
    function reset() {  
        $(".filter input").prop('checked', false);
    };
</script>