<div class="popup">
    <div id="video" class="bannerTop">
        <iframe width="780" height="360" src="https://www.youtube.com/embed/CuE6rvHOLPE" frameborder="0" allowfullscreen></iframe>
        <div class="tag institutes">Institutes</div>
    </div>
    <div class="content">
        <div class="col-md-12">
            <div class="headerActions">
                <a class="buttonIc buttonDownload" href=""><span>Download</span></a>
                <a class="buttonIc buttonShare" href=""><span>Share</span></a>
            </div>
        </div>
        <div class="col-md-8">
            <h1>Connecting minds</h1>
            <p class="date">May 07, 2016</p>
            <p>The Cabinet met in a 500-year-old castle on Sunday to approve the designation of 2015 as the Year of Inoavtiaotnio,ninPoalipclyan to makDeetmheanUdA-lEedaRweolartleddinnovative</p>
        </div>
         <div class="col-md-4">
            <h4 class="h1">Tags</h4>
            <div class="tagsContainer">
                <a href="">#photo</a>
                <a href="">#mind</a>
                <a href="">#connecting</a>
                <a href="">#ceremony </a>
                <a href="">#innovation</a>
                <a href="">#people</a>      
            </div>

            <h4 class="h1">RELATED CONTENT</h4>
            <div class="relatedContainer">
                <a href="">The Significance of KhalifaSat Project</a>
                <a href="">Challenges and Ethics of the Era of RthobeoFtsu</a>
                <a href="">Innovation KPIs in the UAE</a>
            </div>
        </div>
    </div>
</div>
