<div class="invertColors">
    <div class="title">
        <h1>Weekly Calendar</h1>
    </div>
    
    <div class="listContainerCalendar">

        <div class="element">
            <h4>May 9, Monday </h4>
            <h3>Tibetan Singing Bowl Meditation </h3>
            <p> 8:00 PM </p>
        </div>
        
          <div class="element">
              <h4>May 10, Tuesday  </h4>
              <h3>Afternoon Stress Relief Meditation  </h3>
              <p> 12:00 PM </p>
            
        </div>
        
          <div class="element">
              <h4>May 11, Wednesday  </h4>
              <h3>Single Seater experience: Stage 1 </h3>
              <p> 9:00 AM </p>
              <br />
              <h3>Aura Cleansing Meditation </h3>
              <p> 6:45 PM </p>
        </div>
        
          <div class="element">

              <h4>May 12, Thursday   </h4>
              <h3>Club Circuit Newcomers Bike Track Evening </h3>
              <p> 4:30 PM </p>
              <br />
              <h3>Single Seater experience: Stage 1 </h3>
              <p> 6:00 PM </p>
            
        </div>
        
          <div class="element">

              <h4>May 13, Friday </h4>
              <h3>Awaken your Feminine Power Workshop  </h3>
              <p> 11:00 AM </p>
              <br />
              <h3>Soul Clap @ Level 41 in Dubai, United Arab Emirates </h3>
              <p> 7:00 PM </p>
            
        </div>
    </div>
</div>
