<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->
<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->


<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->

<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->

<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->

<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->

<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->

<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->

<!-- Element to repeat -->
<div class="col-xs-12 col-sm-4 col-md-3">
    <div class="listElement">
        <div class="elementContent">
            <a href="#" class="text">
                <p class="category">Ecosystem</p>
                <h3>Towards Innovation Policy in Dubai</h3>
                <p>Announcing 2015 as the Year of Innovation comes support federal.</p>
            </a>
        </div>
    </div>
</div>
<!-- End Element to repeat -->