
#calendarSection{
	//background: url($bg_img);
	//padding-bottom: 40px;
	direction: rtl;

	#calendar {
		max-width: 1100px;
		margin: 0 auto;
	}


	.containerEvent{ 
        height: 100px; 
        width: 100%;
        position: relative;
        background: #FFF;
    }
        .contentEvent{
            position: absolute;
            top: 0; 
            left: 0; 
            right: 0; 
            bottom: 0;
            z-index: 1;
            background: #FFF;
            cursor: pointer;
            padding: 10px;
			@include transition( all .2s linear );
        }

            //.day
			.rsWrap.rsDateWrap{
				float: left;
    			width: 50px;

				.rsDateHeader{
					@extend p;
					color: #CCC;
					font-size: 14px;
					@include transition( color .2s linear );
				}
			}

            .groupCategories{
                float: right;
            }

                .category{
                    width: 8px;
                    height: 8px;
                    border-radius: 4px;
                    display: inline-block;
                    margin-left: 3px;
                }

            .eventsNumber{
                clear: right;
                float: left;
                width: 100%;
                font-size: 12px;
                color: #D8D8D8;
                line-height: 100%;
                margin-bottom: 5px;
            }

            .groupEvents{
                opacity: 0;
                float: left;
                width: 100%;
                margin-top: 2px;
				@include transition( opacity .2s linear );
            }

            .groupEvents p{
                font-family: "helvetica";
                font-weight: bold;
                font-size: 13px;
                line-height: 140%;
                @include truncateText();

				&:hover{
					font-family: "helveticabold";
					color: #C0C0C0;
				}
            }
            .groupEvents p span{
                font-family: "helveticabold";
            }


    .contentEvent.hasEvents:hover{
        background: #21282F;
        border: 2px solid #FFF;
        top: -10px;
        bottom: -10px;
        right: -10px;
        left: -10px;
        padding: 10px;
        z-index: 9;
		@include box-shadow( 0, 0, 5px, rgba($color: #666, $alpha: .5) );
    }


    .contentEvent.hasEvents:hover .day{
        color: #FFF;
    }

    .contentEvent.hasEvents:hover .groupEvents{
        opacity: 1;
    }





	.rsRow td {
		border: 1px solid #D3D3D3;
	}

	.rsContentTable {
	background-color: #ffffff;
	}

	.rsTodayCell .rsDateHeader {
	color: #be9857;
	}

	.rsHorizontalHeaderTable th {
		width: 14.35%;
		font-family: 'merriweather';
		font-weight: normal;
		color: #21282F;
		font-size: 14px;
		text-align: left;
		padding-left: 5px;
	}

	.sfcalendar {
	margin-bottom: 5%;
	}

	.k-widget .k-window .sfcalendarEventPreviewWrp {
	background-color: black;
	}

	div.k-window-content {
		background-color: #000;
		font-family: Arial;
		font-weight: bolder;
		color: #f2f2f2;
	}

	div.k-window-titlebar {
	background-color: #000;
	}

	.sfTxtLbl {
	color: #fff
	}

	.sfcalendarEventPreviewEditLnk {
	color: #fff;
	}
}


.rsToday{display: none;}

.fc-toolbar{max-width: 1100px;margin: 0 auto;}
.fc-toolbar .fc-left{float: left;}
.fc-toolbar .fc-right { float: right; }
.fc-button-group, .fc-icon {display: inline-block;}
.fc-clear {clear: both;}

.todayContainer{
	background: url(../sysimages/bgDateCalendar.png) no-repeat left top;
	height: 40px;
	width: 180px;
	line-height: 40px;
	margin-right: 15px;
	
	font-family: "merriweather";
	font-size: 14px;
	color: #7B7C7E;
	padding: 0 15px;
}



.popupCalendar{
    max-width: 400px;
	
	.content{
		position: relative;
		padding-bottom: 0;
	  	
		&::before{
			position: absolute;
			content: '';
			display: block;
			width: 30px;
			height: 30px;
		  	background: url(../sysimages/cornerTopPopup.png) no-repeat left top;
		}

		img{ 
			max-width: 100%;
		}

		.contentText{
			width: 100%;
			padding: 35px 20px;

			.eventName{
				font-family: 'helveticabold';
				font-size: 16px;
			}

			.eventDate{
				font-family: 'merriweather';
				font-size: 14px;
				margin-bottom: 40px;
			}

			.eventLocationName{
				font-family: 'merriweather';
				font-size: 16px;
				color: #333333;
			}

			.eventLocation{
				font-family: 'merriweather';
				font-size: 14px;
				color: #666666;
			}
		}



		.footer {
			width: 100%;
			padding: 0 20px;
			height: 38px;
			background: #CCC;
			@include clearfix();

			.tags{
				float: left;

				a{
					display: inline-block;
					margin-right: 5px;
					font-family: 'helvetica';
					font-size: 12px;
					color: #FFFFFF;
					line-height: 38px;
				}
			}

			.category{
				float: right;
				font-family: 'helveticabold';
				font-size: 12px;
				color: #FFFFFF;
				line-height: 38px;
			}
		}
	}
}

.containerLegendCategory{
	max-width: 1098px;

	.category{
		display: inline-block;
		margin-right: 22px;

		p{
    		font-family: 'intro';
    		font-size: 12px;

			span{
				width: 8px;
				height: 8px;
				border-radius: 4px;
				display: inline-block;
				margin-right: 3px;
			}
		}
	}
}
